{% comment %}
    Renders collection

    Accepts:
    - collection: {Object} Collection object

    Usage:
    {% render 'section-collection-processor',
      collection: product
    %}
{% endcomment %}

<div class="{{ prefix | default: 'collection' }}__image collection__image">
    <a href="{{ collection.url }}" title="{{ collection.title }}">
        {% if collection.featured_image != blank %}
            {% render 'section-image-processor', image: collection.featured_image %}
        {% else %}
            {{ collection.title | escape }}
        {% endif %}
    </a>
</div>
{% if collection.title != blank %}
    <div class="{{ prefix | default: 'collection' }}__title collection__title">
        <a href="{{ collection.url }}" title="{{ collection.title }}">
        {{ collection.title | escape }}
        {% if section_settings.collection_count %}
            <span>({{ collection.products_count }})</span>
        {% endif %}
        </a>
    </div>
{% endif %}
{% if section_settings.collection_link %}
    <a href="{{ collection.url }}">{{ 'collections.link_text' | t: title: collection.title }}</a>
{% endif %}
