<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}


    {{ content_for_header }}


    <!-- Insert dynamic styles -->

    {% liquid 
      assign body_font_family = settings.default_library_font
      assign heading_font_family = settings.heading_library_font
      assign special_font_family = settings.special_library_font

      assign body_font_semibold = settings.default_library_font | font_modify: 'weight', '500'

      assign body_font_bold = settings.default_library_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.default_library_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'

      assign heading_font_bold = settings.heading_library_font | font_modify: 'weight', 'bold'
      assign heading_font_italic = settings.heading_library_font | font_modify: 'style', 'italic'
      assign heading_font_bold_italic = heading_font_bold | font_modify: 'style', 'italic'

      assign special_font_bold = settings.special_library_font | font_modify: 'weight', 'bold'
      assign special_font_italic = settings.special_library_font | font_modify: 'style', 'italic'
      assign special_font_bold_italic = special_font_bold | font_modify: 'style', 'italic'

  %}


  {% style %}

    {{ settings.default_library_font | font_face: font_display: 'swap' }}
    {{ body_font_semibold | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}

    {{ settings.heading_library_font | font_face: font_display: 'swap' }}
    {{ heading_font_bold | font_face: font_display: 'swap' }}
    {{ heading_font_italic | font_face: font_display: 'swap' }}
    {{ heading_font_bold_italic | font_face: font_display: 'swap' }}

    {{ settings.special_library_font | font_face: font_display: 'swap' }}
    {{ special_font_bold | font_face: font_display: 'swap' }}
    {{ special_font_italic | font_face: font_display: 'swap' }}
    {{ special_font_bold_italic | font_face: font_display: 'swap' }}

    :root{
      --theme-body-font-family: {{ body_font_family.family }}, {{ body_font_family.fallback_families }};
      --theme-heading-font-family: {{ heading_font_family.family }}, {{ heading_font_family.fallback_families }};
      --theme-special-font-family: {{ special_font_family.family }}, {{ special_font_family.fallback_families }};

      --theme-heading-font-weight: {{ heading_font_family.weight }};

      --theme-special-font-weight: {{ special_font_family.weight }};

      --theme-logo-font-weight: {{ heading_font_family.weight }};

      --theme-font-weight-regular: {{ body_font_family.weight }};
      --theme-font-weight-semibold: {{ body_font_semibold.weight }};


      --theme-layout-background-color: {{ settings.color_layout_background_main }};
      --theme-secondary-background-color: {{ settings.color_layout_background_additional }};

      --theme-background-color-accent: {{ settings.color_general_background_accent }};
      --theme-background-color-complementary: {{ settings.color_general_background_complementary }};

      --theme-border-color-black: {{ settings.color_border_dark }};
      --theme-border-color-gray: {{ settings.color_border_main }};
      --theme-border-color-white: {{ settings.color_border_lite }};

      --theme-color-primary: {{ settings.color_general_text }};
      --theme-color-white: {{ settings.color_general_lite }};
      --theme-color-heading: {{ settings.color_general_heading }};

      --theme-button-background-color-accent: {{ settings.color_general_text }};
      --theme-button-background-color-white: {{ settings.color_general_lite }};
      --theme-button-color-main: {{ settings.color_general_text }};
      --theme-button-color-lite: {{ settings.color_general_lite }};

      {% if settings.layout_content_fullwidth %}
        --theme-layout-width: 100%;
      {% else %}
        --theme-layout-width: {{ settings.layout_content_width | append: 'px' }};
      {% endif %}
      
      --theme-button-padding-base: {{ settings.buttons_padding | divided_by: 100.0 | append: "em" }};

      --theme-button-border-radius: {{ settings.buttons_border_radius | append: 'px' }};
      --theme-button-border-width: {{ settings.buttons_border_thickness | append: 'px' }};

      --theme-spacing-base: {{ settings.layout_section_vertical_spacing | append: "vh" }};

      --theme-gap-base: {{ settings.layout_section_columns_gap | append: "rem" }};

      --theme-product-thumbail-aspect-ratio: {{ settings.collection_image_aspect_ratio }}

    }
  {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'password.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

  </head>

  <body class="password">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    <ul hidden>
      <li id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</li>
    </ul>
  </body>
</html>
