


{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}

  {% if section.settings.inset %}
    --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
  {% endif %}
  }
{% endstyle %}

<div class="section-breadcrumbs{% liquid 

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  echo ' ' | append: section.settings.color_scheme

%}"> 
    {%- unless template == 'index' or template == 'cart' or template == 'list-collections' or template == '404' -%}
      {%- assign t = template | split: '.' | first -%}
      <div class="section-breadcrumbs section-container">
    
        <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ routes.root_url }}">{{ 'sections.breadcrumbs.home_text' | t }}</a>
            </li>
            {%- case t -%}
              {%- when 'page' -%}
                <li class="breadcrumbs__item">
                  <span class="breadcrumbs__text" href="{{ page.url }}" aria-current="page">{{ page.title }}</span>
                </li>
              {%- when 'product' -%}
                {%- if collection.url -%}
                  <li class="breadcrumbs__item">
                    {{ collection.title | link_to: collection.url }}
                  </li>
                {%- endif -%}
                <li class="breadcrumbs__item">
                  <span class="breadcrumbs__text" href="{{ product.url }}" aria-current="page">{{ product.title }}</span>
                </li>
              {%- when 'collection' and collection.handle -%}
                {%- if current_tags -%}
                  <li class="breadcrumbs__item">
                    {{ collection.title | link_to: collection.url }}
                  </li>
                  <li class="breadcrumbs__item">
                    {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
                    <span class="breadcrumbs__text" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</span>
                  </li>
                {%- else -%}
                  <li class="breadcrumbs__item">
                    <span class="breadcrumbs__text" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</span>
                  </li>
                {%- endif -%}
              {%- when 'blog' -%}
                {%- if current_tags -%}
                  <li class="breadcrumbs__item">
                    {{ blog.title | link_to: blog.url }}
                  </li>
                  <li class="breadcrumbs__item">
                    {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
                    <span class="breadcrumbs__text" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</span>
                  </li>
                {%- else -%}
                  <li class="breadcrumbs__item">
                    <span class="breadcrumbs__text" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</span>
                  </li>
                {%- endif -%}
              {%- when 'article' -%}
                <li class="breadcrumbs__item">
                  {{ blog.title | link_to: blog.url }}
                </li>
                <li class="breadcrumbs__item">
                  <span class="breadcrumbs__text" href="{{ article.url }}" aria-current="page">{{ article.title }}</span>
                </li>
              {%- else -%}
                <li class="breadcrumbs__item">
                  <span class="breadcrumbs__text" href="{{ request.path }}" aria-current="page">{{ page_title }}</span>
                </li>
            {%- endcase -%}
          </ul>
        </nav>
      </div>
    {%- endunless -%}

</div>


{% schema %}
{"name":"t:sections.breadcrumbs.name","settings":[{"type":"header","content":"t:sections.breadcrumbs.settings.header__general.content"},{"type":"checkbox","id":"fullwidth","label":"t:sections.breadcrumbs.settings.fullwidth.label","info":"t:sections.breadcrumbs.settings.fullwidth.info","default":true},{"type":"range","id":"width","min":500,"max":2000,"step":20,"unit":"px","label":"t:sections.breadcrumbs.settings.width.label","default":1320,"info":"t:sections.breadcrumbs.settings.width.info"},{"type":"select","id":"color_scheme","label":"t:sections.breadcrumbs.settings.color_scheme.label","options":[{"value":"scheme-main","label":"t:sections.breadcrumbs.settings.color_scheme.options.option__0.label"},{"value":"scheme-additional","label":"t:sections.breadcrumbs.settings.color_scheme.options.option__1.label"},{"value":"scheme-accent","label":"t:sections.breadcrumbs.settings.color_scheme.options.option__2.label"},{"value":"scheme-complementary","label":"t:sections.breadcrumbs.settings.color_scheme.options.option__3.label"}],"default":"scheme-main"},{"type":"checkbox","id":"inset","label":"t:sections.breadcrumbs.settings.inset.label","info":"t:sections.breadcrumbs.settings.inset.info","default":true},{"type":"select","id":"inset_choice","label":"t:sections.breadcrumbs.settings.inset_choice.label","options":[{"value":"level-1","label":"t:sections.breadcrumbs.settings.inset_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.breadcrumbs.settings.inset_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.breadcrumbs.settings.inset_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.breadcrumbs.settings.inset_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.breadcrumbs.settings.inset_choice.options.option__4.label"}],"default":"level-3"}],"presets":[{"name":"Breadcrumbs"}],"disabled_on":{"templates":["404","blog","list-collections","cart","index"]}}
{% endschema %}

