<!-- /templates/customers/reset_password.liquid -->

<div class="customers-wrapper customers-reset-wrapper">
  <div class="customers-reset">
    <div class="customers-reset-header">
        <h1 class="customers-form-title customers-reset-title">{{ 'customer.reset_password.title' | t }}</h1>
    </div>
    <div class="customers-form customers-reset-form">
      {% form 'reset_customer_password' %}

        {{ form.errors | default_errors }}
        
        <label for="CustomerResetPassword">
          <span>{{ 'customer.reset_password.password' | t }}</span>
          <input id="CustomerResetPassword" type="password" value="" name="customer[password]" />
        </label>
        
        <label for="CustomerResetPasswordConfirm">
          <span>{{ 'customer.reset_password.password_confirm' | t }}</span>
          <input id="CustomerResetPasswordConfirm" type="password" value="" name="customer[password_confirmation]" />
        </label>
        
        <button type="submit" class="btn-fill">{{ 'customer.reset_password.submit' | t }}</button>
        
      {% endform %}
  
    </div>
  </div>
</div>
