{% style %}
  #shopify-section-{{ section.id }} {
    --theme-featured-products-tabs-columns-count: {{ section.settings.columns_count }};

    {% if section.settings.gap %}
      --theme-featured-products-tabs-gap: var(--theme-gap-{{ section.settings.gap_choice }});
      {% else %}
      --theme-featured-products-tabs-gap: 0px;
    {% endif %}

  {% if section.settings.inset %}
    --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
  {% endif %}
  }
{% endstyle %}


{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}
  }
{% endstyle %}

{% if section.settings.separator %}
  {% style %}
  #shopify-section-{{ section.id }} .separator{
    --theme-section-separator-width: {{ section.settings.separator_width | append: '%' }};
    --theme-section-separator-height: {{ section.settings.separator_height | append: 'px' }};

    {% if section.settings.separator_use_custom_color %}
      --theme-section-separator-color: {{ section.settings.separator_custom_color }};
    {% endif %}
  }
  {% endstyle %}
{% endif %}

{% if section.settings.spacing %}
  {% style %}
  #shopify-section-{{ section.id }}{
    
      {% unless section.settings.spacing_placement == '3' %}
--theme-section-spacing-top: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}
{% unless section.settings.spacing_placement == '2' %}
      --theme-section-spacing-bottom: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}

  }
  {% endstyle %}
{% endif %}


<script  src="{{ 'products-tabs.js' | asset_url }}" defer></script>


<products-tab class="section-featured-products-tabs{% liquid 

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  echo ' ' | append: section.settings.color_scheme

%}">
  <div class="section-featured-products-tabs-container section-container">
    <div class="section-featured-products-tabs-header">
      {% if section.blocks != blank %}
        <ul class="section-featured-products-tabs-header__list">
          {% for block in section.blocks %}
            {% assign collection_choice = block.settings.collection_choice %}
            {% if collection_choice != blank %}
              <li class="section-featured-products-tabs-header__list-item{% liquid 
                if forloop.index == 1 
                  echo ' active' 
                endif 
              %}" data-collection="{% echo collections[collection_choice].handle %}">
              <button>
                {% case section.settings.tab_heading_tag %}
                  {% when 's1' or 's2' or 's3' %}
                    <h1 class="section-featured-products-tabs-header__tab-heading special-heading-{{ section.settings.tab_heading_tag }}">{{ collections[collection_choice].title }}</h1>
                  {% when 'p1' or 'p2' %}
                    <p class="section-featured-products-tabs-header__tab-heading paragraph-{{ section.settings.tab_heading_tag }}">{{ collections[collection_choice].title }}</p>
                  {% else %}
                    <{{ section.settings.tab_heading_tag }} class="section-featured-products-tabs-header__tab-heading">{{ collections[collection_choice].title }}</{{ section.settings.tab_heading_tag }}>
                {% endcase %}
              </button>
              </li>
            
            {% else %}
              <li class="section-featured-products-tabs-header__list-item{% liquid 
                if forloop.index == 1 
                  echo ' active' 
                endif 
              %}" data-collection="collection-{% echo forloop.index %}">
              <button>
                {% case section.settings.tab_heading_tag %}
                  {% when 's1' or 's2' or 's3' %}
                    <h1 class="section-featured-products-tabs-header__tab-heading special-heading-{{ section.settings.tab_heading_tag }}">{{ 'Collection ' | append: forloop.index }}</h1>
                  {% when 'p1' or 'p2' %}
                    <p class="section-featured-products-tabs-header__tab-heading paragraph-{{ section.settings.tab_heading_tag }}">{{ 'Collection ' | append: forloop.index }}</p>
                  {% else %}
                    <{{ section.settings.tab_heading_tag }} class="section-featured-products-tabs-header__tab-heading">{{ 'Collection ' | append: forloop.index }}</{{ section.settings.tab_heading_tag }}>
                {% endcase %}
              </button>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_url | default: '#' }}" class="section-featured-products-tabs-header__button{% liquid 
            echo ' btn-' | append: section.settings.button_style

        %}">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
    {% if section.blocks != blank %}
    <div class="section-featured-products-tabs-content">
      {% for block in section.blocks %}
        {% assign collection_choice = block.settings.collection_choice %}
        {% assign products_count = section.settings.columns_count | times: section.settings.rows_count %}

        {% liquid 
        
          assign collection_choice = block.settings.collection_choice
          assign products_count = section.settings.columns_count | times: section.settings.rows_count


          assign section_products_size = collection_choice | size

          assign products_count = section.settings.columns_count | times: section.settings.rows_count

          if section_products_size > section.settings.columns_count and section.settings.carousel
            assign has_carousel = true
          endif

        
        %}

        
          <div class="section-featured-products-tabs-products-list{% liquid 
            if forloop.index == 1 
              echo ' active' 
            endif 
            if has_carousel
              echo ' has-carousel splide'
            endif

          %}" data-collection="{% echo collections[collection_choice].handle %}" {% liquid 
            if has_carousel 

              assign data_options = 'data-options={'
                
              assign data_options = data_options | append: '"rewind":"' | append: section.settings.loop | append: '",'
              assign data_options = data_options | append: '"perMove":"' | append: section.settings.per_move | append: '",'
              assign data_options = data_options | append: '"perPage":"' | append: section.settings.columns_count | append: '",'

              if section.settings.speed != blank
                assign data_options = data_options | append: '"speed":"' | append: section.settings.speed | append: '",'
              endif 
              if section.settings.interval != blank
                assign data_options = data_options | append: '"interval":"' | append: section.settings.interval | append: '",'
              endif 
              
              assign data_options = data_options | append: '"autoplay":' | append: section.settings.autoplay | append: ','
              assign data_options = data_options | append: '"drag":' | append: section.settings.mouse_drag | append: ','
              assign data_options = data_options | append: '"arrows":' | append: section.settings.arrows | append: ','
              assign data_options = data_options | append: '"pagination":' | append: section.settings.dots | append: ','

              assign data_options = data_options | append: '"gap":' | append: '"var(--theme-featured-products-tabs-gap)"' | append: ','
              
          assign data_options = data_options | append: '"breakpoints":{"768":{'
          assign data_options = data_options | append: '"perPage":' | append: 2
          assign data_options = data_options | append: '}}' | append: ','


              assign data_options_count = data_options | size | minus: 1
              assign data_options = data_options | slice: 0, data_options_count
              assign data_options = data_options | append: '}'


              echo data_options
            endif
          
          %}>
            {% if has_carousel %}
              {% unless request.design_mode %}
                <div class="splide__arrows">
                  <button class="splide__arrow splide__arrow--prev">
                    {% render 'icon-chevron-down' %}
                  </button>
                  <button class="splide__arrow splide__arrow--next">
                    {% render 'icon-chevron-down' %}
                  </button>
                </div>
                {% endunless %}
              <div class="splide__track">
                  <ul class="splide__list">
            {% endif %}
            {% if collection_choice != blank %}
              {% if collections[collection_choice].products != blank %}
                {% for product in collections[collection_choice].products limit: products_count %}
                  <{% liquid 
                    if has_carousel
                      echo 'li' 
                    else 
                      echo 'div'
                    endif 
                  %} class="section-featured-products-tabs-product product{% liquid 
                    if has_carousel
                      echo ' splide__slide'
                    endif 

                  %}">
                    {% render 'section-product-processor', product: product, section_settings: section.settings, prefix: 'section-featured-products-tabs-product' %}
                  </{% liquid 
                    if has_carousel
                      echo 'li' 
                    else 
                      echo 'div'
                    endif 
                  %}>
                {% endfor %}
              {% endif %}
            {% else %}
              {% for i in (1..products_count) %}
                {% assign placeholder_image = 'product-' | append: forloop.index %}
                <{% liquid 
                  if has_carousel
                    echo 'li' 
                  else 
                    echo 'div'
                  endif 
                %} class="section-featured-products-product product{% liquid 
                  if has_carousel
                    echo ' splide__slide'
                  endif 

                %}">
                  <div class="product__image">
                    {{ placeholder_image | placeholder_svg_tag: 'placeholder placeholder-featured-products' }}
                  </div>
                  <h6 class="product__title">
                      {{ 'products.placeholder.title' | t }}
                  </h6>
                  <p class="product__price">
                      <span>{{ 'products.placeholder.price' | t }}</span>
                  </p>
                </{% liquid 
                  if has_carousel
                    echo 'li' 
                  else 
                    echo 'div'
                  endif 
                %}>
              {% endfor %}
            {% endif %}
            {% if has_carousel %}
                </div>
              </ul>
            {% endif %}
          </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</products-tab>
{% if section.settings.separator %}
  <div class="section-separator{% liquid 
 if section.settings.separator_fullwidth 
echo ' has-fullwidth'
endif 
 %}"><hr class="separator"></div>
{% endif %}



{% schema %}
{"name":"t:sections.featured_collection_tabs.name","settings":[{"type":"header","content":"t:sections.featured_collection_tabs.settings.header__general.content"},{"type":"checkbox","id":"fullwidth","label":"t:sections.featured_collection_tabs.settings.fullwidth.label","info":"t:sections.featured_collection_tabs.settings.fullwidth.info","default":true},{"type":"range","id":"width","min":500,"max":2000,"step":20,"unit":"px","label":"t:sections.featured_collection_tabs.settings.width.label","default":1320,"info":"t:sections.featured_collection_tabs.settings.width.info"},{"type":"select","id":"color_scheme","label":"t:sections.featured_collection_tabs.settings.color_scheme.label","options":[{"value":"scheme-main","label":"t:sections.featured_collection_tabs.settings.color_scheme.options.option__0.label"},{"value":"scheme-additional","label":"t:sections.featured_collection_tabs.settings.color_scheme.options.option__1.label"},{"value":"scheme-accent","label":"t:sections.featured_collection_tabs.settings.color_scheme.options.option__2.label"},{"value":"scheme-complementary","label":"t:sections.featured_collection_tabs.settings.color_scheme.options.option__3.label"}],"default":"scheme-main"},{"type":"checkbox","id":"inset","label":"t:sections.featured_collection_tabs.settings.inset.label","info":"t:sections.featured_collection_tabs.settings.inset.info","default":true},{"type":"select","id":"inset_choice","label":"t:sections.featured_collection_tabs.settings.inset_choice.label","options":[{"value":"level-1","label":"t:sections.featured_collection_tabs.settings.inset_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.featured_collection_tabs.settings.inset_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.featured_collection_tabs.settings.inset_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.featured_collection_tabs.settings.inset_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.featured_collection_tabs.settings.inset_choice.options.option__4.label"}],"default":"level-3"},{"type":"header","content":"t:sections.featured_collection_tabs.settings.header__tabs.content"},{"type":"select","id":"tab_heading_tag","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.label","options":[{"value":"p","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__0.label"},{"value":"p1","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__1.label"},{"value":"p2","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__2.label"},{"value":"h1","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__3.label"},{"value":"h2","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__4.label"},{"value":"h3","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__5.label"},{"value":"h4","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__6.label"},{"value":"h5","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__7.label"},{"value":"h6","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__8.label"},{"value":"s1","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__9.label"},{"value":"s2","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__10.label"},{"value":"s3","label":"t:sections.featured_collection_tabs.settings.tab_heading_tag.options.option__11.label"}],"default":"h4"},{"type":"header","content":"t:sections.featured_collection_tabs.settings.header__button.content"},{"type":"text","id":"button_text","label":"t:sections.featured_collection_tabs.settings.button_text.label","default":"Button text"},{"type":"url","id":"button_url","label":"t:sections.featured_collection_tabs.settings.button_url.label"},{"type":"select","id":"button_target","label":"t:sections.featured_collection_tabs.settings.button_target.label","options":[{"value":"_self","label":"t:sections.featured_collection_tabs.settings.button_target.options.option__0.label"},{"value":"_blank","label":"t:sections.featured_collection_tabs.settings.button_target.options.option__1.label"}],"default":"_self","info":"t:sections.featured_collection_tabs.settings.button_target.info"},{"type":"select","id":"button_style","label":"t:sections.featured_collection_tabs.settings.button_style.label","options":[{"value":"outline","label":"t:sections.featured_collection_tabs.settings.button_style.options.option__0.label"},{"value":"fill","label":"t:sections.featured_collection_tabs.settings.button_style.options.option__1.label"},{"value":"link","label":"t:sections.featured_collection_tabs.settings.button_style.options.option__2.label"}],"default":"link"},{"type":"header","content":"t:sections.featured_collection_tabs.settings.header__products.content"},{"type":"range","id":"columns_count","min":1,"max":6,"step":1,"label":"t:sections.featured_collection_tabs.settings.columns_count.label","default":4},{"type":"range","id":"rows_count","min":1,"max":3,"step":1,"label":"t:sections.featured_collection_tabs.settings.rows_count.label","default":1,"info":"t:sections.featured_collection_tabs.settings.rows_count.info"},{"type":"checkbox","id":"gap","label":"t:sections.featured_collection_tabs.settings.gap.label","info":"t:sections.featured_collection_tabs.settings.gap.info","default":true},{"type":"select","id":"gap_choice","label":"t:sections.featured_collection_tabs.settings.gap_choice.label","options":[{"value":"level-1","label":"t:sections.featured_collection_tabs.settings.gap_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.featured_collection_tabs.settings.gap_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.featured_collection_tabs.settings.gap_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.featured_collection_tabs.settings.gap_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.featured_collection_tabs.settings.gap_choice.options.option__4.label"},{"value":"level-6","label":"t:sections.featured_collection_tabs.settings.gap_choice.options.option__5.label"},{"value":"level-7","label":"t:sections.featured_collection_tabs.settings.gap_choice.options.option__6.label"}],"default":"level-4","info":"t:sections.featured_collection_tabs.settings.gap_choice.info"},{"type":"header","content":"t:sections.featured_collection_tabs.settings.header__carousel_settings.content"},{"type":"checkbox","id":"carousel","label":"t:sections.featured_collection_tabs.settings.carousel.label","default":false},{"type":"range","id":"per_move","min":1,"max":6,"step":1,"label":"t:sections.featured_collection_tabs.settings.per_move.label","info":"t:sections.featured_collection_tabs.settings.per_move.info","default":1},{"type":"checkbox","id":"autoplay","label":"t:sections.featured_collection_tabs.settings.autoplay.label","default":true},{"type":"range","id":"interval","min":1000,"max":9000,"step":100,"unit":"ms","label":"t:sections.featured_collection_tabs.settings.interval.label","default":4000},{"type":"checkbox","id":"loop","label":"t:sections.featured_collection_tabs.settings.loop.label","default":true},{"type":"checkbox","id":"mouse_drag","label":"t:sections.featured_collection_tabs.settings.mouse_drag.label","default":true},{"type":"checkbox","id":"arrows","label":"t:sections.featured_collection_tabs.settings.arrows.label","default":true},{"type":"checkbox","id":"dots","label":"t:sections.featured_collection_tabs.settings.dots.label","default":false},{"type":"range","id":"speed","min":100,"max":2000,"step":50,"unit":"ms","label":"t:sections.featured_collection_tabs.settings.speed.label","default":400},{"type":"header","content":"t:sections.common.settings.header__separator.content"},{"type":"checkbox","id":"separator","label":"t:sections.common.settings.separator.label","info":"t:sections.common.settings.separator.info","default":false},{"type":"range","id":"separator_width","min":1,"max":100,"step":1,"unit":"%","label":"t:sections.common.settings.separator_width.label","default":100,"info":"t:sections.common.settings.separator_width.info"},{"type":"checkbox","id":"separator_fullwidth","label":"t:sections.common.settings.separator_fullwidth.label","default":false},{"type":"range","id":"separator_height","min":1,"max":10,"step":1,"unit":"px","label":"t:sections.common.settings.separator_height.label","default":1,"info":"t:sections.common.settings.separator_height.info"},{"type":"checkbox","id":"separator_use_custom_color","label":"t:sections.common.settings.separator_use_custom_color.label","default":false},{"type":"color","id":"separator_custom_color","label":"t:sections.common.settings.separator_custom_color.label","default":"#DAD3C4"},{"type":"header","content":"t:sections.common.settings.header__spacing.content"},{"type":"checkbox","id":"spacing","label":"t:sections.common.settings.spacing.label","info":"t:sections.common.settings.spacing.info","default":true},{"type":"select","id":"spacing_choice","label":"t:sections.common.settings.spacing_choice.label","options":[{"value":"level-1","label":"t:sections.common.settings.spacing_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.common.settings.spacing_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.common.settings.spacing_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.common.settings.spacing_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.common.settings.spacing_choice.options.option__4.label"}],"default":"level-3"},{"type":"select","id":"spacing_placement","label":"t:sections.common.settings.spacing_placement.label","options":[{"value":"1","label":"t:sections.common.settings.spacing_placement.options.option__0.label"},{"value":"2","label":"t:sections.common.settings.spacing_placement.options.option__1.label"},{"value":"3","label":"t:sections.common.settings.spacing_placement.options.option__2.label"}],"default":"1","info":"t:sections.common.settings.spacing_placement.info"}],"blocks":[{"name":"t:sections.featured_collection_tabs.blocks.product_tab.name","type":"product_tab","settings":[{"type":"header","content":"t:sections.featured_collection_tabs.blocks.product_tab.settings.header__collection.content"},{"type":"collection","id":"collection_choice","label":"t:sections.featured_collection_tabs.blocks.product_tab.settings.collection_choice.label"}]}],"presets":[{"name":"Featured collection tabs","blocks":[{"type":"product_tab"},{"type":"product_tab"}]}]}
{% endschema %}

