
{% style %}
#shopify-section-{{ section.id }} {
  --theme-section-collections-link-max-width: {{ section.settings.collection_width }}
}
{% endstyle %}


{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}

  {% if section.settings.inset %}
    --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
  {% endif %}
  }
{% endstyle %}

{% if section.settings.separator %}
  {% style %}
  #shopify-section-{{ section.id }} .separator{
    --theme-section-separator-width: {{ section.settings.separator_width | append: '%' }};
    --theme-section-separator-height: {{ section.settings.separator_height | append: 'px' }};

    {% if section.settings.separator_use_custom_color %}
      --theme-section-separator-color: {{ section.settings.separator_custom_color }};
    {% endif %}
  }
  {% endstyle %}
{% endif %}

{% if section.settings.spacing %}
  {% style %}
  #shopify-section-{{ section.id }}{
    
      {% unless section.settings.spacing_placement == '3' %}
--theme-section-spacing-top: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}
{% unless section.settings.spacing_placement == '2' %}
      --theme-section-spacing-bottom: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}

  }
  {% endstyle %}
{% endif %}

{% liquid 

  assign section_collections = section.settings.collection_choice

  if section.settings.collection_choice == blank
    assign section_collections = collections
  endif 

  assign section_collections_size = section_collections | size

  assign total_collections = section.settings.limit | times: section.settings.rows_count

 

%}


<div class="section-collections-links{% liquid 

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  echo ' ' | append: section.settings.color_scheme

%}">
  <div class="section-collections-links-container section-container">
    <div class="section-collections-links-header">
      {% if section.settings.heading != blank %}
        {% case section.settings.heading_tag %}
          {% when 's1' or 's2' or 's3' %}
            <h1 class="section-collections-links-header__heading special-heading-{{ section.settings.heading_tag }}">{{ section.settings.heading }}</h1>
          {% when 'p1' or 'p2' %}
            <p class="section-collections-links-header__heading paragraph-{{ section.settings.heading_tag }}">{{ section.settings.heading }}</p>
          {% else %}
            <{{ section.settings.heading_tag }} class="section-collections-links-header__heading">{{ section.settings.heading }}</{{ section.settings.heading_tag }}>
        {% endcase %}
      {% endif %}
    </div>
    <ul class="section-collections-links-list">
      {% for collection in section_collections %}
        <li class="section-collections-links-collection">
          {% if collection.title != blank %}
              <a class="section-collections-links-collection__title collection-title" href="{{ collection.url }}" title="{{ collection.title }}">
                {{ collection.title }}
                {% if section.settings.collection_count %}
                  <span>({{ collection.products_count }})</span>
                {% endif %}
              </a>
          {% endif %}
          {% if collection.image != blank and section.settings.collection_image %}
            <div class="section-collections-links-collection__image collection-image">
              <a href="{{ collection.url }}" title="{{ collection.title }}">
                {% render 'section-image-processor', image: collection.image %}
              </a>
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% if section.settings.separator %}
  <div class="section-separator{% liquid 
 if section.settings.separator_fullwidth 
echo ' has-fullwidth'
endif 
 %}"><hr class="separator"></div>
{% endif %}



{% schema %}
{"name":"t:sections.collection_links.name","settings":[{"type":"header","content":"t:sections.collection_links.settings.header__general.content"},{"type":"checkbox","id":"fullwidth","label":"t:sections.collection_links.settings.fullwidth.label","info":"t:sections.collection_links.settings.fullwidth.info","default":true},{"type":"range","id":"width","min":500,"max":2000,"step":20,"unit":"px","label":"t:sections.collection_links.settings.width.label","default":1320,"info":"t:sections.collection_links.settings.width.info"},{"type":"select","id":"color_scheme","label":"t:sections.collection_links.settings.color_scheme.label","options":[{"value":"scheme-main","label":"t:sections.collection_links.settings.color_scheme.options.option__0.label"},{"value":"scheme-additional","label":"t:sections.collection_links.settings.color_scheme.options.option__1.label"},{"value":"scheme-accent","label":"t:sections.collection_links.settings.color_scheme.options.option__2.label"},{"value":"scheme-complementary","label":"t:sections.collection_links.settings.color_scheme.options.option__3.label"}],"default":"scheme-main"},{"type":"checkbox","id":"inset","label":"t:sections.collection_links.settings.inset.label","info":"t:sections.collection_links.settings.inset.info","default":true},{"type":"select","id":"inset_choice","label":"t:sections.collection_links.settings.inset_choice.label","options":[{"value":"level-1","label":"t:sections.collection_links.settings.inset_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.collection_links.settings.inset_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.collection_links.settings.inset_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.collection_links.settings.inset_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.collection_links.settings.inset_choice.options.option__4.label"}],"default":"level-3"},{"type":"header","content":"t:sections.collection_links.settings.header__heading.content"},{"type":"text","id":"heading","label":"t:sections.collection_links.settings.heading.label","default":"This is collection links"},{"type":"select","id":"heading_tag","label":"t:sections.collection_links.settings.heading_tag.label","options":[{"value":"p","label":"t:sections.collection_links.settings.heading_tag.options.option__0.label"},{"value":"p1","label":"t:sections.collection_links.settings.heading_tag.options.option__1.label"},{"value":"p2","label":"t:sections.collection_links.settings.heading_tag.options.option__2.label"},{"value":"h1","label":"t:sections.collection_links.settings.heading_tag.options.option__3.label"},{"value":"h2","label":"t:sections.collection_links.settings.heading_tag.options.option__4.label"},{"value":"h3","label":"t:sections.collection_links.settings.heading_tag.options.option__5.label"},{"value":"h4","label":"t:sections.collection_links.settings.heading_tag.options.option__6.label"},{"value":"h5","label":"t:sections.collection_links.settings.heading_tag.options.option__7.label"},{"value":"h6","label":"t:sections.collection_links.settings.heading_tag.options.option__8.label"},{"value":"s1","label":"t:sections.collection_links.settings.heading_tag.options.option__9.label"},{"value":"s2","label":"t:sections.collection_links.settings.heading_tag.options.option__10.label"},{"value":"s3","label":"t:sections.collection_links.settings.heading_tag.options.option__11.label"}],"default":"h5"},{"type":"header","content":"t:sections.collection_links.settings.header__collections.content"},{"type":"collection_list","id":"collection_choice","label":"t:sections.collection_links.settings.collection_choice.label","info":"t:sections.collection_links.settings.collection_choice.info","limit":18},{"type":"checkbox","id":"collection_count","label":"t:sections.collection_links.settings.collection_count.label","default":false},{"type":"checkbox","id":"collection_image","label":"t:sections.collection_links.settings.collection_image.label","info":"t:sections.collection_links.settings.collection_image.info","default":true},{"type":"header","content":"t:sections.common.settings.header__separator.content"},{"type":"checkbox","id":"separator","label":"t:sections.common.settings.separator.label","info":"t:sections.common.settings.separator.info","default":false},{"type":"range","id":"separator_width","min":1,"max":100,"step":1,"unit":"%","label":"t:sections.common.settings.separator_width.label","default":100,"info":"t:sections.common.settings.separator_width.info"},{"type":"checkbox","id":"separator_fullwidth","label":"t:sections.common.settings.separator_fullwidth.label","default":false},{"type":"range","id":"separator_height","min":1,"max":10,"step":1,"unit":"px","label":"t:sections.common.settings.separator_height.label","default":1,"info":"t:sections.common.settings.separator_height.info"},{"type":"checkbox","id":"separator_use_custom_color","label":"t:sections.common.settings.separator_use_custom_color.label","default":false},{"type":"color","id":"separator_custom_color","label":"t:sections.common.settings.separator_custom_color.label","default":"#DAD3C4"},{"type":"header","content":"t:sections.common.settings.header__spacing.content"},{"type":"checkbox","id":"spacing","label":"t:sections.common.settings.spacing.label","info":"t:sections.common.settings.spacing.info","default":true},{"type":"select","id":"spacing_choice","label":"t:sections.common.settings.spacing_choice.label","options":[{"value":"level-1","label":"t:sections.common.settings.spacing_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.common.settings.spacing_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.common.settings.spacing_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.common.settings.spacing_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.common.settings.spacing_choice.options.option__4.label"}],"default":"level-3"},{"type":"select","id":"spacing_placement","label":"t:sections.common.settings.spacing_placement.label","options":[{"value":"1","label":"t:sections.common.settings.spacing_placement.options.option__0.label"},{"value":"2","label":"t:sections.common.settings.spacing_placement.options.option__1.label"},{"value":"3","label":"t:sections.common.settings.spacing_placement.options.option__2.label"}],"default":"1","info":"t:sections.common.settings.spacing_placement.info"}],"presets":[{"name":"Collection links"}]}
{% endschema %}

