

{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}

  {% if section.settings.inset %}
    --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
  {% endif %}
  }
{% endstyle %}

{% if section.settings.spacing %}
  {% style %}
  #shopify-section-{{ section.id }}{
    
      {% unless section.settings.spacing_placement == '3' %}
--theme-section-spacing-top: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}
{% unless section.settings.spacing_placement == '2' %}
      --theme-section-spacing-bottom: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}

  }
  {% endstyle %}
{% endif %}


{%liquid

  assign input_type = 'product'
  
  if settings.predictive_search_collections
      assign input_type = input_type | append: ',collection'
  endif

  if settings.predictive_search_pages
      assign input_type = input_type | append: ',page'
  endif


  if settings.predictive_search_articles
      assign input_type = input_type | append: ',article'
  endif

  assign results_count = search.results | size

  assign search_count = 6


  if search.performed
    assign search_title = 'general.search.results_title_performed_html' | t: count: results_count, terms: search.terms
  else
    assign search_title = 'general.search.results_title' | t
  endif




  capture prev_next_icon 
   render 'icon-chevron-down'
  endcapture

  assign next_html = 'general.pagination.next' | t | append: prev_next_icon
  assign prev_html = 'general.pagination.previous' | t | append: prev_next_icon

%}
<div class="main-search section-search{% liquid 

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  echo ' ' | append: section.settings.color_scheme

%}">
  <div class="main-search-section-container section-container">
    <div class="main-page-header-details page-header-details main-search-header">
      {% case section.settings.heading_tag %}
          {% when 's1' or 's2' or 's3' %}
          <h1 class="main-page-header-title page-search-title special-heading-{{ section.settings.heading_tag }}">
            {{ search_title }}</span>
          </h1>
          {% when 'p1' or 'p2' %}
          <p class="main-page-header-title page-search-title paragraph-{{ section.settings.heading_tag }}">
            {{ search_title }}</span>
          </p>
          {% else %}
          <{{ section.settings.heading_tag }} class="main-page-header-title page-search-title">
            {{ search_title }}</span>
          </{{ section.settings.heading_tag }}>
      {% endcase %}
    </div>

    <form action="{{ routes.search_url }}" method="get" role="search" class="main-search-form">
      
      <input type="hidden" name="type" value="{{ input_type }}" />
      <input type="hidden" name="options[unavailable_products]" value="{{ settings.predictive_search_unavailable_products }}" />
      <input type="hidden" name="options[prefix]" value="{{ settings.predictive_search_prefix }}">

      <label class="main-search-form__label" for="SearchFormSearch">
        <span class="main-search-form__label-text">{{ 'general.search.title' | t }}</span>
        <span class="main-search-form__label-icon">{% render 'icon-search' %}</span>
      </label>
      <input id="SearchFormSearch" class="main-search-form__search" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}">
      <button class="main-search-form__submit" type="submit">{{ 'general.search.submit' | t }}</button>
    </form>
    {% paginate search.results by search_count %}

    {% if search.performed %}
      {% if search.results != blank %}
        <div class="section-search-results">

          {% render 'filters', section_settings: section.settings %}

          <div class="search-results-products products" data-id="{{ section.id }}">
            <ul class="search-results-list">
              {% for item in search.results %}
                {% case item.object_type %}
                  {% when 'article' %}
                    <li class="search-results-list-item post">
                      <div class="post__thumbnail">
                        <a href="{{ item.url }}">{% render 'section-image-processor', image: item.image %}</a>
                      </div>
                      <div class="post__details">
                        <div class="search-results-list-item__type">{{ item.object_type }}</div>
                        <h2 class="post__title">
                          <a href="{{ item.url }}">{{ item.title }}</a>
                        </h2>
                        <div class="post__meta">
                          <span>{{ 'by' }} {{ item.author }}</span>
                          <span>{{ item.created_at | date: '%B %d, %Y' }}</span>
                        </div>
                        <a href="{{ item.url }}" class="post__read-more">
                          {{ 'blog.link_text' | t }}
                        </a>
                      </div>
                    </li>
                  {% when 'page' %}
                    <li class="search-results-list-item page">
                      <div class="page__details">
                        <div class="search-results-list-item__type">{{ item.object_type }}</div>
                        <h2 class="page__title">
                          <a href="{{ item.url }}">{{ item.title }}</a>
                        </h2>
                        <a href="{{ item.url }}" class="page__read-more">
                          {{ 'blog.link_text' | t }}
                        </a>
                      </div>
                    </li>
                  {% else %}
                    <li class="search-results-list-item search-results-product product">
                      {% render 'section-product-processor', product: item, section_settings: section.settings, prefix: 'search-results-product' %}
                    </li>

                {% endcase %}
              {% endfor %}

            </ul>

            {% if paginate.pages > 1 %}
              <div class="search-pagination pagination">
                {{ paginate | default_pagination: next: next_html, previous: prev_html }}
              </div>
            {% endif %}
          </div>
        </div>
      {% else %}
        <h1 class="search-results-no-result-text special-heading-s3">{{ 'general.search.no_results' | t: terms: search.terms }}</h1>
      {% endif %}
    {% endif %}

    {% endpaginate %}
  </div>
</div>


{% schema %}
{"name":"t:sections.main_search.name","settings":[{"type":"header","content":"t:sections.main_search.settings.header__general.content"},{"type":"checkbox","id":"fullwidth","label":"t:sections.main_search.settings.fullwidth.label","info":"t:sections.main_search.settings.fullwidth.info","default":true},{"type":"range","id":"width","min":500,"max":2000,"step":20,"unit":"px","label":"t:sections.main_search.settings.width.label","default":1320,"info":"t:sections.main_search.settings.width.info"},{"type":"select","id":"color_scheme","label":"t:sections.main_search.settings.color_scheme.label","options":[{"value":"scheme-main","label":"t:sections.main_search.settings.color_scheme.options.option__0.label"},{"value":"scheme-additional","label":"t:sections.main_search.settings.color_scheme.options.option__1.label"},{"value":"scheme-accent","label":"t:sections.main_search.settings.color_scheme.options.option__2.label"},{"value":"scheme-complementary","label":"t:sections.main_search.settings.color_scheme.options.option__3.label"}],"default":"scheme-main"},{"type":"checkbox","id":"inset","label":"t:sections.main_search.settings.inset.label","info":"t:sections.main_search.settings.inset.info","default":true},{"type":"select","id":"inset_choice","label":"t:sections.main_search.settings.inset_choice.label","options":[{"value":"level-1","label":"t:sections.main_search.settings.inset_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.main_search.settings.inset_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.main_search.settings.inset_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.main_search.settings.inset_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.main_search.settings.inset_choice.options.option__4.label"}],"default":"level-3"},{"type":"select","id":"heading_tag","label":"t:sections.main_search.settings.heading_tag.label","options":[{"value":"p","label":"t:sections.main_search.settings.heading_tag.options.option__0.label"},{"value":"p1","label":"t:sections.main_search.settings.heading_tag.options.option__1.label"},{"value":"p2","label":"t:sections.main_search.settings.heading_tag.options.option__2.label"},{"value":"h1","label":"t:sections.main_search.settings.heading_tag.options.option__3.label"},{"value":"h2","label":"t:sections.main_search.settings.heading_tag.options.option__4.label"},{"value":"h3","label":"t:sections.main_search.settings.heading_tag.options.option__5.label"},{"value":"h4","label":"t:sections.main_search.settings.heading_tag.options.option__6.label"},{"value":"h5","label":"t:sections.main_search.settings.heading_tag.options.option__7.label"},{"value":"h6","label":"t:sections.main_search.settings.heading_tag.options.option__8.label"},{"value":"s1","label":"t:sections.main_search.settings.heading_tag.options.option__9.label"},{"value":"s2","label":"t:sections.main_search.settings.heading_tag.options.option__10.label"},{"value":"s3","label":"t:sections.main_search.settings.heading_tag.options.option__11.label"}],"default":"s1"},{"type":"range","id":"heading_width","min":200,"max":2000,"step":20,"unit":"px","label":"t:sections.main_search.settings.heading_width.label","default":620,"info":"t:sections.main_search.settings.heading_width.info"},{"type":"number","id":"results_per_page","label":"t:sections.main_search.settings.results_per_page.label","default":6,"info":"t:sections.main_search.settings.results_per_page.info"},{"type":"checkbox","id":"filters","label":"t:sections.main_search.settings.filters.label","info":"t:sections.main_search.settings.filters.info","default":true},{"type":"checkbox","id":"sorting","label":"t:sections.main_search.settings.sorting.label","default":true},{"type":"checkbox","id":"total_count","label":"t:sections.main_search.settings.total_count.label","default":true},{"type":"header","content":"t:sections.common.settings.header__spacing.content"},{"type":"checkbox","id":"spacing","label":"t:sections.common.settings.spacing.label","info":"t:sections.common.settings.spacing.info","default":true},{"type":"select","id":"spacing_choice","label":"t:sections.common.settings.spacing_choice.label","options":[{"value":"level-1","label":"t:sections.common.settings.spacing_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.common.settings.spacing_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.common.settings.spacing_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.common.settings.spacing_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.common.settings.spacing_choice.options.option__4.label"}],"default":"level-3"},{"type":"select","id":"spacing_placement","label":"t:sections.common.settings.spacing_placement.label","options":[{"value":"1","label":"t:sections.common.settings.spacing_placement.options.option__0.label"},{"value":"2","label":"t:sections.common.settings.spacing_placement.options.option__1.label"},{"value":"3","label":"t:sections.common.settings.spacing_placement.options.option__2.label"}],"default":"1","info":"t:sections.common.settings.spacing_placement.info"}]}
{% endschema %}

