{% style %}
#shopify-section-{{ section.id }} {

  
  {% if section.settings.background_overlay %}
    --theme-page-header-overlay-color: {{ section.settings.background_overlay_color }};
    --theme-page-header-overlay-opacity: {{ section.settings.background_overlay_opacity | append: '%' }};

  {% endif %}

}
{% endstyle %}


{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}

  {% if section.settings.inset %}
    --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
  {% endif %}
  }
{% endstyle %}


{% liquid 

  assign blocks_count = section.blocks | size 

  assign collections_limit = section.settings.limit

  assign section_collections = section.settings.collection_choice

  if section.settings.collection_choice == blank
    assign section_collections = collections
  endif 

  if section.settings.collection_links == '3' 
    assign display_collection_links = true
  elsif section.settings.collection_links == '2' and collection.handle == 'all'
    assign display_collection_links = true
  else
    assign display_collection_links = false
  endif

  if collection.image != blank 
    assign collection_image = collection.image
  else 
    assign collection_image = section.settings.background_image
  endif

%}

{% if collection_image != blank %}
  

  {% style %}
    #shopify-section-{{ section.id }} {
      {% if section.settings.height_mobile != 'auto' %}
        --theme-page-header-custom-height-mobile: {{ section.settings.height_mobile | append: 'px' }};
      {% endif %}

      {% if section.settings.height != 'auto' %}
        --theme-page-header-custom-height-desktop: {{ section.settings.height | append: 'px' }};
      {% endif %}
    }
  {% endstyle %}


  {% style %}
    #shopify-section-{{ section.id }} .main-page-header-title{
        --theme-main-page-title-width: {{ section.settings.heading_width | append: 'px' }};
    }
    #shopify-section-{{ section.id }} .main-page-header-description{
        --theme-main-page-description-width: {{ section.settings.description_width | append: 'px' }};
    }
  {% endstyle %}
{% endif %}



<div class="main-page-header main-collection-header page-header{% liquid 
    if collection_image != blank or section.settings.background_overlay
        echo ' has-background'
    endif 

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

    echo ' ' | append: section.settings.color_scheme

    echo ' has-no-padding'
%}">

      {% if collection_image != blank or section.settings.background_overlay %}
          <div class="main-page-header-background page-header-background">
          {% if collection_image != blank %}
              <picture class="main-page-header-background-image page-header-background-image">
              {% render 'section-image-processor', image: collection_image %}
              </picture>
          {% endif %}
          {% if section.settings.background_overlay %}
              <div class="main-page-header-background-overlay page-header-background-overlay"></div>
          {% endif %}
          </div>
      {% endif %}
    <div class="main-page-header-details page-header-details section-container">
        {% if collection.title != blank %}
            {% case section.settings.heading_tag %}
              
                {% when 's1' or 's2' or 's3' %}
                <h1 class="main-page-header-title page-title special-heading-{{ section.settings.heading_tag }}">{{ collection.title }}</h1>
                {% when 'p1' or 'p2' %}
                <p class="main-page-header-title page-title paragraph-{{ section.settings.heading_tag }}">{{ collection.title }}</p>
                {% else %}
                <{{ section.settings.heading_tag }} class="main-page-header-title page-title">{{ collection.title }}</{{ section.settings.heading_tag }}>
            {% endcase %}
        {% endif %}
        {% if collection.description != blank %}
            <div class="main-page-header-description page-description rte paragraph-{{ section.settings.description_tag }}">{{ collection.description }}</div>
        {% endif %}

        {% if display_collection_links %}
          <ul class="collections-links-list">
            {% for collection in section_collections limit: collections_limit %}
              <li class="collections-links-list-item">
                {% if collection.title != blank %}
                    <a href="{{ collection.url }}" class="collections-links-list-item__title" title="{{ collection.title }}">
                      {{ collection.title }}
                      {% if section.settings.collection_count %}
                        <span>({{ collection.products_count }})</span>
                      {% endif %}
                    </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>


{% schema %}
{"name":"t:sections.collection_header.name","settings":[{"type":"header","content":"t:sections.collection_header.settings.header__general.content"},{"type":"checkbox","id":"fullwidth","label":"t:sections.collection_header.settings.fullwidth.label","info":"t:sections.collection_header.settings.fullwidth.info","default":true},{"type":"range","id":"width","min":500,"max":2000,"step":20,"unit":"px","label":"t:sections.collection_header.settings.width.label","default":1320,"info":"t:sections.collection_header.settings.width.info"},{"type":"select","id":"color_scheme","label":"t:sections.collection_header.settings.color_scheme.label","options":[{"value":"scheme-main","label":"t:sections.collection_header.settings.color_scheme.options.option__0.label"},{"value":"scheme-additional","label":"t:sections.collection_header.settings.color_scheme.options.option__1.label"},{"value":"scheme-accent","label":"t:sections.collection_header.settings.color_scheme.options.option__2.label"},{"value":"scheme-complementary","label":"t:sections.collection_header.settings.color_scheme.options.option__3.label"}],"default":"scheme-main"},{"type":"checkbox","id":"inset","label":"t:sections.collection_header.settings.inset.label","info":"t:sections.collection_header.settings.inset.info","default":true},{"type":"select","id":"inset_choice","label":"t:sections.collection_header.settings.inset_choice.label","options":[{"value":"level-1","label":"t:sections.collection_header.settings.inset_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.collection_header.settings.inset_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.collection_header.settings.inset_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.collection_header.settings.inset_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.collection_header.settings.inset_choice.options.option__4.label"}],"default":"level-3"},{"type":"select","id":"height_mobile","label":"t:sections.collection_header.settings.height_mobile.label","options":[{"value":"400","label":"t:sections.collection_header.settings.height_mobile.options.option__0.label"},{"value":"460","label":"t:sections.collection_header.settings.height_mobile.options.option__1.label"},{"value":"520","label":"t:sections.collection_header.settings.height_mobile.options.option__2.label"},{"value":"600","label":"t:sections.collection_header.settings.height_mobile.options.option__3.label"},{"value":"680","label":"t:sections.collection_header.settings.height_mobile.options.option__4.label"},{"value":"780","label":"t:sections.collection_header.settings.height_mobile.options.option__5.label"},{"value":"900","label":"t:sections.collection_header.settings.height_mobile.options.option__6.label"},{"value":"auto","label":"t:sections.collection_header.settings.height_mobile.options.option__7.label"}],"default":"520"},{"type":"select","id":"height","label":"t:sections.collection_header.settings.height.label","options":[{"value":"400","label":"t:sections.collection_header.settings.height.options.option__0.label"},{"value":"460","label":"t:sections.collection_header.settings.height.options.option__1.label"},{"value":"520","label":"t:sections.collection_header.settings.height.options.option__2.label"},{"value":"600","label":"t:sections.collection_header.settings.height.options.option__3.label"},{"value":"680","label":"t:sections.collection_header.settings.height.options.option__4.label"},{"value":"780","label":"t:sections.collection_header.settings.height.options.option__5.label"},{"value":"900","label":"t:sections.collection_header.settings.height.options.option__6.label"},{"value":"auto","label":"t:sections.collection_header.settings.height.options.option__7.label"}],"default":"520"},{"type":"header","content":"t:sections.collection_header.settings.header__background.content"},{"type":"image_picker","id":"background_image","label":"t:sections.collection_header.settings.background_image.label","info":"t:sections.collection_header.settings.background_image.info"},{"type":"checkbox","id":"background_overlay","label":"t:sections.collection_header.settings.background_overlay.label","default":true},{"type":"color_background","id":"background_overlay_color","label":"t:sections.collection_header.settings.background_overlay_color.label","default":"#1F2D1F","info":"t:sections.collection_header.settings.background_overlay_color.info"},{"type":"range","id":"background_overlay_opacity","min":1,"max":100,"step":1,"unit":"%","label":"t:sections.collection_header.settings.background_overlay_opacity.label","default":20,"info":"t:sections.collection_header.settings.background_overlay_opacity.info"},{"type":"header","content":"t:sections.collection_header.settings.header__content.content"},{"type":"select","id":"heading_tag","label":"t:sections.collection_header.settings.heading_tag.label","options":[{"value":"p","label":"t:sections.collection_header.settings.heading_tag.options.option__0.label"},{"value":"p1","label":"t:sections.collection_header.settings.heading_tag.options.option__1.label"},{"value":"p2","label":"t:sections.collection_header.settings.heading_tag.options.option__2.label"},{"value":"h1","label":"t:sections.collection_header.settings.heading_tag.options.option__3.label"},{"value":"h2","label":"t:sections.collection_header.settings.heading_tag.options.option__4.label"},{"value":"h3","label":"t:sections.collection_header.settings.heading_tag.options.option__5.label"},{"value":"h4","label":"t:sections.collection_header.settings.heading_tag.options.option__6.label"},{"value":"h5","label":"t:sections.collection_header.settings.heading_tag.options.option__7.label"},{"value":"h6","label":"t:sections.collection_header.settings.heading_tag.options.option__8.label"},{"value":"s1","label":"t:sections.collection_header.settings.heading_tag.options.option__9.label"},{"value":"s2","label":"t:sections.collection_header.settings.heading_tag.options.option__10.label"},{"value":"s3","label":"t:sections.collection_header.settings.heading_tag.options.option__11.label"}],"default":"s1"},{"type":"range","id":"heading_width","min":200,"max":2000,"step":20,"unit":"px","label":"t:sections.collection_header.settings.heading_width.label","default":620,"info":"t:sections.collection_header.settings.heading_width.info"},{"type":"select","id":"description_tag","label":"t:sections.collection_header.settings.description_tag.label","options":[{"value":"p","label":"t:sections.collection_header.settings.description_tag.options.option__0.label"},{"value":"p1","label":"t:sections.collection_header.settings.description_tag.options.option__1.label"},{"value":"p2","label":"t:sections.collection_header.settings.description_tag.options.option__2.label"},{"value":"h1","label":"t:sections.collection_header.settings.description_tag.options.option__3.label"},{"value":"h2","label":"t:sections.collection_header.settings.description_tag.options.option__4.label"},{"value":"h3","label":"t:sections.collection_header.settings.description_tag.options.option__5.label"},{"value":"h4","label":"t:sections.collection_header.settings.description_tag.options.option__6.label"},{"value":"h5","label":"t:sections.collection_header.settings.description_tag.options.option__7.label"},{"value":"h6","label":"t:sections.collection_header.settings.description_tag.options.option__8.label"},{"value":"s1","label":"t:sections.collection_header.settings.description_tag.options.option__9.label"},{"value":"s2","label":"t:sections.collection_header.settings.description_tag.options.option__10.label"},{"value":"s3","label":"t:sections.collection_header.settings.description_tag.options.option__11.label"}],"default":"p1"},{"type":"range","id":"description_width","min":200,"max":2000,"step":20,"unit":"px","label":"t:sections.collection_header.settings.description_width.label","default":620,"info":"t:sections.collection_header.settings.description_width.info"},{"type":"select","id":"collection_links","label":"t:sections.collection_header.settings.collection_links.label","options":[{"value":"1","label":"t:sections.collection_header.settings.collection_links.options.option__0.label"},{"value":"2","label":"t:sections.collection_header.settings.collection_links.options.option__1.label"},{"value":"3","label":"t:sections.collection_header.settings.collection_links.options.option__2.label"}],"default":"2"},{"type":"collection_list","id":"collection_choice","label":"t:sections.collection_header.settings.collection_choice.label","info":"t:sections.collection_header.settings.collection_choice.info","limit":18},{"type":"range","id":"limit","min":1,"max":6,"step":1,"label":"t:sections.collection_header.settings.limit.label","default":4},{"type":"checkbox","id":"collection_count","label":"t:sections.collection_header.settings.collection_count.label","default":false}],"presets":[{"name":"Collection header"}],"enabled_on":{"templates":["collection"]}}
{% endschema %}

