{% if section.settings.logo != blank %}
  {% style %}
    :root{
        --theme-logo-height: {{ section.settings.logo_height | append: "px" }};
    }
  {% endstyle %}
{% endif %}

<div class="password-header section-header">
  <div class="section-header-container section-container">
    <div class="section-header-left">
      <a href="{{ routes.root_url }}" class="section-header-root-link">
        {% if section.settings.logo != blank %}
          {% assign retina_logo_height = section.settings.logo_height | times: 2 | append: 'px' %}
          <div class="section-header-logo">
            {{
              section.settings.logo
              | image_url: height: retina_logo_height
              | image_tag: widths: '50, 100, 150, 200, 250, 300, 400, 500', loading: 'lazy', alt: shop.name | escape 
            }}
          </div>
        {% else %}
          <div class="section-header-shop-name">
            {{ shop.name }}
          </div>
        {% endif %}
      </a>
    </div>
    <div class="section-header-right">
      {%- if shop.password_message != blank -%}
        <div class="password-content">
          {{ shop.password_message }}
        </div>
      {%- endif -%}

      <password-modal class="password-modal">
        <details>
          <summary>
            {% render 'icon-padlock' %}
            <span>{{ 'general.password_page.login_password_button' | t }}</span>
          </summary>
          <div class="password-modal__content">
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                <label class="field__label" for="Password">
                  <span>{{ 'general.password_page.login_form_password_placeholder' | t }}</span>
                  <input
                    type="password"
                    name="password"
                    id="Password"
                    class="field__input"
                    autocomplete="current-password"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-password-error"
                    {%- endif -%}
                    placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  >
                </label>
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="form__message">{{ 'general.password_page.login_form_error' | t }}</span>
                  </div>
                {%- endif -%}
              </div>
              <button name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            {%- endform -%}
            <small class="password-modal__admin-link">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </details>
      </password-modal>
    </div>
  </div>
</div>



{% schema %}
{"name":"t:sections.header.name","class":"shopify-header-section","settings":[{"type":"header","content":"t:sections.header.settings.header__logo.content"},{"type":"image_picker","id":"logo","label":"t:sections.header.settings.logo.label","info":"t:sections.header.settings.logo.info"},{"type":"range","id":"logo_height","min":4,"max":200,"step":2,"unit":"px","label":"t:sections.header.settings.logo_height.label","default":24,"info":"t:sections.header.settings.logo_height.info"}]}
{% endschema %}

