{% style %}
/* add styles from multi */
#shopify-section-{{ section.id }} {

    {% if section.settings.gap %}
      --theme-multicolumns-gap: var(--theme-gap-{{ section.settings.gap_choice }});
    {% else %}
      --theme-multicolumns-gap: 0px;
    {% endif %}
    --theme-multicolumns-count: {{ section.blocks | size }};
  }

  {% for block in section.blocks %}


    #shopify-section-{{ section.id }}
    .block-{{ block.id }} {
      {% if block.settings.inset %}
        --theme-block-content-padding: var(--theme-block-content-padding-{{ block.settings.inset_choice }});
      {% endif %}
    }    
 #shopify-section-{{ section.id }}
    .block-{{ block.id }} {
      --theme-multicolumn-width: {{ block.settings.width | append: '%' }};
      --theme-multicolumn-vertical-align: {{ block.settings.vertical_align }};
      --theme-multicolumn-horizontal-align: {{ block.settings.horizontal_align }};

      --theme-multicolumn-image-aspect-ratio: {{ block.settings.image_aspect_ratio }};
    }

    #shopify-section-{{ section.id }}
    .block-{{ block.id }} {

      {% if block.settings.image_custom_width %}
        --theme-multicolumn-image-width: {{ block.settings.image_width | append: 'px' }};
      {% endif %}

      {% if block.settings.text_1_custom_width %}
        --theme-multicolumn-text-1-width: {{ block.settings.text_1_width | append: 'px' }};
      {% endif %}

      {% if block.settings.text_2_custom_width %}
        --theme-multicolumn-text-2-width: {{ block.settings.text_2_width | append: 'px' }};
      {% endif %}


      --theme-multicolumn-image-display-order: {{ block.settings.image_display_order }};
      --theme-multicolumn-text-1-display-order: {{ block.settings.text_1_display_order }};
      --theme-multicolumn-text-2-display-order: {{ block.settings.text_2_display_order }};
      --theme-multicolumn-button-display-order: {{ block.settings.button_display_order }};
    }

  {% endfor %}
{% endstyle %}

{% comment %} end styles for multi {% endcomment %}
{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}
  }
{% endstyle %}

{% if section.settings.separator %}
  {% style %}
  #shopify-section-{{ section.id }} .separator{
    --theme-section-separator-width: {{ section.settings.separator_width | append: '%' }};
    --theme-section-separator-height: {{ section.settings.separator_height | append: 'px' }};

    {% if section.settings.separator_use_custom_color %}
      --theme-section-separator-color: {{ section.settings.separator_custom_color }};
    {% endif %}
  }
  {% endstyle %}
{% endif %}

{% if section.settings.spacing %}
  {% style %}
  #shopify-section-{{ section.id }}{
    
      {% unless section.settings.spacing_placement == '3' %}
--theme-section-spacing-top: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}
{% unless section.settings.spacing_placement == '2' %}
      --theme-section-spacing-bottom: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}

  }
  {% endstyle %}
{% endif %}


{% liquid 

  

  assign products_choice = section.settings.products_choice

  for product in products_choice
    assign section_products_size = forloop.index
  endfor

  assign products_count = section.settings.columns_count | times: section.settings.rows_count

  if section_products_size > section.settings.columns_count and section.settings.carousel
    assign has_carousel = true
  endif
%}
{% comment %} Start of multi-columns {% endcomment %}


<div class="merged-section">
  <div class="gold-bg">
<h3 id="floatHeader">lve well</h3>
<h3 id="hideTitle">delivered to your door every other month</h3>
<p id="showTitle"> Receive a 2 month supply of your supplements delivered to your door every other month.</p>
<button id="becomeAMember" class="becomeAMember" >Become a Member</button>
<div id="whiteSeparator" class="whiteSeparator"></div>
  </div>
<div class="section-boxed-multicolumns{% liquid 
  if section.settings.stack_on_mobile
    echo ' has-stack-on-mobile' 
  endif

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  
%}">
  <div id="hideColumns" class="section-multicolumns-container section-container">
    {% if section.blocks != blank %}
      {% for block in section.blocks %}
        <div class="section-multicolumn block-{{ block.id }}{% liquid 

        if block.settings.inset
          echo ' has-block-padding'
        endif

        if block.settings.text_align != blank
          echo ' has-text-align-' | append: block.settings.text_align
        endif

        echo ' ' | append: block.settings.color_scheme

        %}" {{ block.shopify_attributes }}>
          {% if block.settings.image_show %}
            {% if block.settings.image != blank %}
              <div class="section-multicolumn__image">
                {% render 'section-image-processor'
                  , image: block.settings.image %}
              </div>
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder placeholder-multicolumn' }}
            {% endif %}
          {% endif %}

          {% if block.settings.text_1 != blank %}
            {% case block.settings.text_1_tag %}
              {% when 's1' or 's2' or 's3' %}
                <h1 class="section-multicolumn__text_1 special-heading-{{ block.settings.text_1_tag }}">{{ block.settings.text_1 }}</h1>
              {% when 'p1' or 'p2' %}
                <p class="section-multicolumn__text_1 paragraph-{{ block.settings.text_1_tag }}">{{ block.settings.text_1 }}</p>
              {% else %}
                <{{ block.settings.text_1_tag }} class="section-multicolumn__text_1">
                  {{ block.settings.text_1 }}</{{ block.settings.text_1_tag }}>
              {% endcase %}
            {% endif %}
            {% if block.settings.text_2 != blank %}
              {% case block.settings.text_2_tag %}
                {% when 's1' or 's2' or 's3' %}
                  <h1 class="section-multicolumn__text_2 special-heading-{{ block.settings.text_2_tag }}">{{ block.settings.text_2 }}</h1>
                {% when 'p1' or 'p2' %}
                  <p class="section-multicolumn__text_2 paragraph-{{ block.settings.text_2_tag }}">{{ block.settings.text_2 }}</p>
                {% else %}
                  <{{ block.settings.text_2_tag }} class="section-multicolumn__text_2">
                    {{ block.settings.text_2 }}</{{ block.settings.text_2_tag }}>
                {% endcase %}
              {% endif %}

              {% if block.settings.button_text != blank %}
                <a
                  href="{{ block.settings.button_url | default: '#' }}"
                  class="section-multicolumn__button{% liquid 
                echo ' btn-' | append: block.settings.button_style
    
            %}"
                  target="{{ block.settings.button_target }}">{{ block.settings.button_text }}</a>
              {% endif %}
            </div>
          {% endfor %}
        {% endif %}
        </div>
        <p id="hideText" class="hideText">As a Salve member, you'll unlock exclusive benefits, receive complimentary gifts, and save on your subscription package. Salve Members are dedicated to a path of complete well-being, beauty, and health. When you join Salve, you're not just purchasing supplements; you're making and investment in a happier, healthier you.</p>
    </div>
    {% if section.settings.separator %}
      <div class="section-separator{% liquid 
 if section.settings.separator_fullwidth 
echo ' has-fullwidth'
endif 
 %}">
<hr class="separator"></div>
    {% endif %}

{% comment %} Start of handpicked {% endcomment %}
<div id="showProducts">
<div class="section-handpicked-products{% liquid 

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  echo ' ' | append: section.settings.color_scheme

%}">
  <div class="section-handpicked-products-container section-container">

    <div class="section-handpicked-products-header">
      {% if section.settings.heading != blank %}
        {% case section.settings.heading_tag %}
          {% when 's1' or 's2' or 's3' %}
            <h3 class="section-handpicked-products-header__heading special-heading-{{ section.settings.heading_tag }}">{{ section.settings.heading }}</h3>
          {% when 'p1' or 'p2' %}
            <p class="section-handpicked-products-header__heading paragraph-{{ section.settings.heading_tag }}">{{ section.settings.heading }}</p>
          {% else %}
            <{{ section.settings.heading_tag }} class="section-handpicked-products-header__heading">{{ section.settings.heading }}</{{ section.settings.heading_tag }}>
        {% endcase %}
      {% endif %}
      {% if section.settings.button_text != blank %}
        <a href="{{ section.settings.button_url | default: '#' }}" class="section-handpicked-products-header__button{% liquid 
            echo ' btn-' | append: section.settings.button_style

        %}">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
    <div class="section-handpicked-products-list{% liquid 
      if has_carousel
        echo ' has-carousel splide'
      endif
      %}" {% liquid 
      if has_carousel 

        assign data_options = 'data-options={'
          
        assign data_options = data_options | append: '"rewind":"' | append: section.settings.loop | append: '",'
        assign data_options = data_options | append: '"perMove":"' | append: section.settings.per_move | append: '",'
        assign data_options = data_options | append: '"perPage":"' | append: section.settings.columns_count | append: '",'

        if section.settings.speed != blank
          assign data_options = data_options | append: '"speed":"' | append: section.settings.speed | append: '",'
        endif 
        if section.settings.interval != blank
          assign data_options = data_options | append: '"interval":"' | append: section.settings.interval | append: '",'
        endif 
        
        assign data_options = data_options | append: '"autoplay":' | append: section.settings.autoplay | append: ','
        assign data_options = data_options | append: '"drag":' | append: section.settings.mouse_drag | append: ','
        assign data_options = data_options | append: '"arrows":' | append: section.settings.arrows | append: ','
        assign data_options = data_options | append: '"pagination":' | append: section.settings.dots | append: ','

        assign data_options = data_options | append: '"gap":' | append: '"var(--theme-handpicked-products-gap)"' | append: ','
        

          assign data_options = data_options | append: '"breakpoints":{"768":{'
          assign data_options = data_options | append: '"perPage":' | append: 2
          assign data_options = data_options | append: '}}' | append: ','


        assign data_options_count = data_options | size | minus: 1
        assign data_options = data_options | slice: 0, data_options_count
        assign data_options = data_options | append: '}'


        echo data_options
      endif
    
    %}>
      {% if has_carousel %}
        {% unless request.design_mode %}
          <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
              {% render 'icon-chevron-down' %}
            </button>
            <button class="splide__arrow splide__arrow--next">
              {% render 'icon-chevron-down' %}
            </button>
          </div>
          {% endunless %}
        <div class="splide__track">
            <ul class="splide__list">
      {% endif %}
      {% if section.settings.products_choice != blank %}
        {% for product in section.settings.products_choice %}
          <{% liquid 
            if has_carousel
              echo 'li' 
            else 
              echo 'div'
            endif 
          %} class="section-handpicked-products-product product{% liquid 
            if has_carousel
              echo ' splide__slide'
            endif 

            %}">
            {% render 'section-product-processor', product: product, section_settings: section.settings, prefix: 'section-handpicked-products-product' %}
          </{% liquid 
            if has_carousel
              echo 'li' 
            else 
              echo 'div'
            endif 
          %}>
        {% endfor %}
      {% else %}
        {% for i in (1..products_count) %}
          {% assign placeholder_image = 'product-' | append: forloop.index %}
          <{% liquid 
            if has_carousel
              echo 'li' 
            else 
              echo 'div'
            endif 
          %} class="section-handpicked-products-product product{% liquid 
            if has_carousel
              echo ' splide__slide'
            endif 

            %}">
            <div class="product__image">
              {{ placeholder_image | placeholder_svg_tag: 'placeholder placeholder-handpicked-products' }}
            </div>
            <div class="handpicked_title_and_price">
            <h6 class="product__title">
                {{ 'products.placeholder.title' | t }}
            </h6>
            <p class="product__price">
                <span>{{ 'products.placeholder.price' | t }}</span>
            </p>
            </div>
          </{% liquid 
            if has_carousel
              echo 'li' 
            else 
              echo 'div'
            endif 
          %}>
        {% endfor %}
      {% endif %}
      {% if has_carousel %}
          </div>
        </ul>
      {% endif %}
    </div>
    </div>
    {% comment %} Button is displayed when item is selected only {% endcomment %}
    <button id="showButton" class="showButton">Next</button>
    <!-- products with associated URLs -->
  </div>
</div>
{% if section.settings.separator %}
  <div class="section-separator{% liquid 
 if section.settings.separator_fullwidth 
echo ' has-fullwidth'
endif 
 %}"><hr class="separator"></div>
</div>
{% endif %}

<script>
  let selectedProduct = null;

  document.addEventListener("DOMContentLoaded", function () {
    const productArray = document.querySelectorAll(".section-handpicked-products-product");
    const showButton = document.getElementById("showButton");
    const showTitle = document.getElementById("showTitle");
    const hideTitle = document.getElementById("hideTitle");
    const hideText = document.getElementById("hideText");
    const showProducts = document.getElementById("showProducts");
    const hideColumns = document.getElementById("hideColumns");
    const becomeAMember = document.getElementById("becomeAMember");
    const floatHeader = document.getElementById("floatHeader");
    const whiteSeparator = document.getElementById("whiteSeparator");

    // Initially hide the elements with "style='display: none'"
    showTitle.style.display = "none";
    showProducts.style.display = "none";

    becomeAMember.addEventListener("click", function () {
      // Show the "showText" and "showProducts" elements when "becomeAMember" button is clicked
      hideTitle.style.display = "none";
      hideText.style.display = "none";
      hideColumns.style.display = "none";
      becomeAMember.style.display = "none";
      whiteSeparator.style.display = "none";
      floatHeader.style.animationName = "floatHeaderAnimation";
      floatHeader.style.animationPlayState = "running";
      setTimeout(function () {
        showTitle.style.display = "block";
      showProducts.style.display = "block";
       showTitle.style.opacity = 1;
    showProducts.style.opacity = 1;
},2500);
    });
    // change dynamically "Sale" to "Most Popular"
    const dynamicContentElement = document.querySelector("#showProducts > div > div > div.section-handpicked-products-list > div:nth-child(1) > span");
      if (dynamicContentElement && dynamicContentElement.firstChild) {
        dynamicContentElement.firstChild.textContent = "Most Popular";
      }

    const productData = [
      {
        title: "the-collagen-c-bundle-1",
        url: "https://salvehouse.myshopify.com/cart",
      },
      {
        title: "copy-of-colvita-vitamin-c",
        url: "https://salvehouse.myshopify.com/pages/add-a-sample-vitamin-c",
      },
      {
        title: "colvita-collagen-supplement",
        url: "https://salvehouse.myshopify.com/pages/add-a-sample",
      },
      // Add more products and URLs
    ];

    productArray.forEach((productElement, index) => {
      productElement.addEventListener("click", function () {
        // Remove the "selected-handpicked-product" class from previously selected elements
        productArray.forEach((el, i) => {
          if (i !== index) {
            el.classList.remove("selected-handpicked-product");
          }
        });

        // Toggle the "selected-handpicked-product" class on the clicked element
        productElement.classList.toggle("selected-handpicked-product");

        // Update the selectedProduct variable
        selectedProduct = index;

        // Show the button when a product is clicked
        showButton.style.display = "block";
        window.scrollTo({ top: 250, behavior: "smooth" });
        
      });
    });

    // Add a click event listener to the button for adding the product to the cart and then navigating to a URL
    showButton.addEventListener("click", function () {
      if (selectedProduct !== null && selectedProduct < productData.length) {
        const product = productData[selectedProduct];
        if (product.title) {
          // Find the product in your store by title
          fetch(`/products/${product.title}.json`)
            .then((response) => response.json())
            .then((productJson) => {
              if (productJson.product) {
                const variantId = productJson.product.variants[0].id; // Assumes the first variant
                const cartData = {
                  items: [
                    {
                      id: variantId,
                      quantity: 1,
                    },
                  ],
                };

                // Shopify's AJAX Cart API to add the product to the cart
                fetch("/cart/add.js", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(cartData),
                })
                  .then((response) => response.json())
                  .then((data) => {
                    // Redirect to the cart page after adding the product
                    window.location.href = product.url;
                  })
                  .catch((error) => {
                    console.error("Error adding the product to the cart:", error);
                  });
              }
            });
        }
      }
    });
  });
</script>


{% schema %}
{"name":"t:sections.membership_products.name","settings":[{"type":"header","content":"t:sections.membership_products.settings.header__general.content"},{"type":"checkbox","id":"fullwidth","label":"t:sections.handpicked_products.settings.fullwidth.label","info":"t:sections.handpicked_products.settings.fullwidth.info","default":true},{"type":"range","id":"width","min":500,"max":2000,"step":20,"unit":"px","label":"t:sections.handpicked_products.settings.width.label","default":1320,"info":"t:sections.handpicked_products.settings.width.info"},{"type":"select","id":"color_scheme","label":"t:sections.handpicked_products.settings.color_scheme.label","options":[{"value":"scheme-main","label":"t:sections.handpicked_products.settings.color_scheme.options.option__0.label"},{"value":"scheme-additional","label":"t:sections.handpicked_products.settings.color_scheme.options.option__1.label"},{"value":"scheme-accent","label":"t:sections.handpicked_products.settings.color_scheme.options.option__2.label"},{"value":"scheme-complementary","label":"t:sections.handpicked_products.settings.color_scheme.options.option__3.label"}],"default":"scheme-main"},{"type":"checkbox","id":"inset","label":"t:sections.handpicked_products.settings.inset.label","info":"t:sections.handpicked_products.settings.inset.info","default":true},{"type":"select","id":"inset_choice","label":"t:sections.handpicked_products.settings.inset_choice.label","options":[{"value":"level-1","label":"t:sections.handpicked_products.settings.inset_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.handpicked_products.settings.inset_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.handpicked_products.settings.inset_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.handpicked_products.settings.inset_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.handpicked_products.settings.inset_choice.options.option__4.label"}],"default":"level-3"},{"type":"text","id":"heading","label":"t:sections.handpicked_products.settings.heading.label","default":"This is handpicked products"},{"type":"select","id":"heading_tag","label":"t:sections.handpicked_products.settings.heading_tag.label","options":[{"value":"p","label":"t:sections.handpicked_products.settings.heading_tag.options.option__0.label"},{"value":"p1","label":"t:sections.handpicked_products.settings.heading_tag.options.option__1.label"},{"value":"p2","label":"t:sections.handpicked_products.settings.heading_tag.options.option__2.label"},{"value":"h1","label":"t:sections.handpicked_products.settings.heading_tag.options.option__3.label"},{"value":"h2","label":"t:sections.handpicked_products.settings.heading_tag.options.option__4.label"},{"value":"h3","label":"t:sections.handpicked_products.settings.heading_tag.options.option__5.label"},{"value":"h4","label":"t:sections.handpicked_products.settings.heading_tag.options.option__6.label"},{"value":"h5","label":"t:sections.handpicked_products.settings.heading_tag.options.option__7.label"},{"value":"h6","label":"t:sections.handpicked_products.settings.heading_tag.options.option__8.label"},{"value":"s1","label":"t:sections.handpicked_products.settings.heading_tag.options.option__9.label"},{"value":"s2","label":"t:sections.handpicked_products.settings.heading_tag.options.option__10.label"},{"value":"s3","label":"t:sections.handpicked_products.settings.heading_tag.options.option__11.label"}],"default":"h3"},{"type":"header","content":"t:sections.handpicked_products.settings.header__button.content"},{"type":"text","id":"button_text","label":"t:sections.handpicked_products.settings.button_text.label","default":"Button text"},{"type":"url","id":"button_url","label":"t:sections.handpicked_products.settings.button_url.label"},{"type":"select","id":"button_style","label":"t:sections.handpicked_products.settings.button_style.label","options":[{"value":"outline","label":"t:sections.handpicked_products.settings.button_style.options.option__0.label"},{"value":"fill","label":"t:sections.handpicked_products.settings.button_style.options.option__1.label"},{"value":"link","label":"t:sections.handpicked_products.settings.button_style.options.option__2.label"}],"default":"link"},{"type":"header","content":"t:sections.handpicked_products.settings.header__products.content"},{"type":"product_list","id":"products_choice","label":"t:sections.handpicked_products.settings.products_choice.label"},{"type":"range","id":"columns_count","min":1,"max":6,"step":1,"label":"t:sections.handpicked_products.settings.columns_count.label","default":4},{"type":"range","id":"rows_count","min":1,"max":3,"step":1,"label":"t:sections.handpicked_products.settings.rows_count.label","default":1,"info":"t:sections.handpicked_products.settings.rows_count.info"},{"type":"checkbox","id":"gap","label":"t:sections.handpicked_products.settings.gap.label","info":"t:sections.handpicked_products.settings.gap.info","default":true},{"type":"select","id":"gap_choice","label":"t:sections.handpicked_products.settings.gap_choice.label","options":[{"value":"level-1","label":"t:sections.handpicked_products.settings.gap_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.handpicked_products.settings.gap_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.handpicked_products.settings.gap_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.handpicked_products.settings.gap_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.handpicked_products.settings.gap_choice.options.option__4.label"},{"value":"level-6","label":"t:sections.handpicked_products.settings.gap_choice.options.option__5.label"},{"value":"level-7","label":"t:sections.handpicked_products.settings.gap_choice.options.option__6.label"}],"default":"level-4","info":"t:sections.handpicked_products.settings.gap_choice.info"},{"type":"header","content":"t:sections.handpicked_products.settings.header__carousel_settings.content"},{"type":"checkbox","id":"carousel","label":"t:sections.handpicked_products.settings.carousel.label","default":false},{"type":"range","id":"per_move","min":1,"max":6,"step":1,"label":"t:sections.handpicked_products.settings.per_move.label","info":"t:sections.handpicked_products.settings.per_move.info","default":4},{"type":"checkbox","id":"autoplay","label":"t:sections.handpicked_products.settings.autoplay.label","default":true},{"type":"range","id":"interval","min":1000,"max":9000,"step":100,"unit":"ms","label":"t:sections.handpicked_products.settings.interval.label","default":4000},{"type":"checkbox","id":"loop","label":"t:sections.handpicked_products.settings.loop.label","default":true},{"type":"checkbox","id":"mouse_drag","label":"t:sections.handpicked_products.settings.mouse_drag.label","default":true},{"type":"checkbox","id":"arrows","label":"t:sections.handpicked_products.settings.arrows.label","default":true},{"type":"checkbox","id":"dots","label":"t:sections.handpicked_products.settings.dots.label","default":false},{"type":"range","id":"speed","min":100,"max":2000,"step":50,"unit":"ms","label":"t:sections.handpicked_products.settings.speed.label","default":400},{"type":"header","content":"t:sections.common.settings.header__separator.content"},{"type":"checkbox","id":"separator","label":"t:sections.common.settings.separator.label","info":"t:sections.common.settings.separator.info","default":false},{"type":"range","id":"separator_width","min":1,"max":100,"step":1,"unit":"%","label":"t:sections.common.settings.separator_width.label","default":100,"info":"t:sections.common.settings.separator_width.info"},{"type":"checkbox","id":"separator_fullwidth","label":"t:sections.common.settings.separator_fullwidth.label","default":false},{"type":"range","id":"separator_height","min":1,"max":10,"step":1,"unit":"px","label":"t:sections.common.settings.separator_height.label","default":1,"info":"t:sections.common.settings.separator_height.info"},{"type":"checkbox","id":"separator_use_custom_color","label":"t:sections.common.settings.separator_use_custom_color.label","default":false},{"type":"color","id":"separator_custom_color","label":"t:sections.common.settings.separator_custom_color.label","default":"#DAD3C4"},{"type":"header","content":"t:sections.common.settings.header__spacing.content"},{"type":"checkbox","id":"spacing","label":"t:sections.common.settings.spacing.label","info":"t:sections.common.settings.spacing.info","default":true},{"type":"select","id":"spacing_choice","label":"t:sections.common.settings.spacing_choice.label","options":[{"value":"level-1","label":"t:sections.common.settings.spacing_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.common.settings.spacing_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.common.settings.spacing_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.common.settings.spacing_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.common.settings.spacing_choice.options.option__4.label"}],"default":"level-3"},{"type":"select","id":"spacing_placement","label":"t:sections.common.settings.spacing_placement.label","options":[{"value":"1","label":"t:sections.common.settings.spacing_placement.options.option__0.label"},{"value":"2","label":"t:sections.common.settings.spacing_placement.options.option__1.label"},{"value":"3","label":"t:sections.common.settings.spacing_placement.options.option__2.label"}],"default":"1","info":"t:sections.common.settings.spacing_placement.info"}
        ],
        "blocks": [
          {
            "name": "t:sections.multi_columns.blocks.column.name",
            "type": "column",
            "limit": 6,
            "settings": [
              {
                "type": "header",
                "content": "t:sections.multi_columns.blocks.column.settings.header__general.content"
              },
              {
                "type": "select",
                "id": "color_scheme",
                "label": "t:sections.multi_columns.blocks.column.settings.color_scheme.label",
                "options": [
                  {
                    "value": "scheme-main",
                    "label": "t:sections.multi_columns.blocks.column.settings.color_scheme.options.option__0.label"
                  }, {
                    "value": "scheme-additional",
                    "label": "t:sections.multi_columns.blocks.column.settings.color_scheme.options.option__1.label"
                  }, {
                    "value": "scheme-accent",
                    "label": "t:sections.multi_columns.blocks.column.settings.color_scheme.options.option__2.label"
                  }, {
                    "value": "scheme-complementary",
                    "label": "t:sections.multi_columns.blocks.column.settings.color_scheme.options.option__3.label"
                  }
                ],
                "default": "scheme-main"
              },
              {
                "type": "checkbox",
                "id": "inset",
                "label": "t:sections.multi_columns.blocks.column.settings.inset.label",
                "default": true
              },
              {
                "type": "select",
                "id": "inset_choice",
                "label": "t:sections.multi_columns.blocks.column.settings.inset_choice.label",
                "options": [
                  {
                    "value": "level-1",
                    "label": "t:sections.multi_columns.blocks.column.settings.inset_choice.options.option__0.label"
                  },
                  {
                    "value": "level-2",
                    "label": "t:sections.multi_columns.blocks.column.settings.inset_choice.options.option__1.label"
                  },
                  {
                    "value": "level-3",
                    "label": "t:sections.multi_columns.blocks.column.settings.inset_choice.options.option__2.label"
                  },
                  {
                    "value": "level-4",
                    "label": "t:sections.multi_columns.blocks.column.settings.inset_choice.options.option__3.label"
                  }, {
                    "value": "level-5",
                    "label": "t:sections.multi_columns.blocks.column.settings.inset_choice.options.option__4.label"
                  }
                ],
                "default": "level-3"
              }, {
                "type": "range",
                "id": "width",
                "min": 1,
                "max": 100,
                "step": 1,
                "unit": "%",
                "label": "t:sections.multi_columns.blocks.column.settings.width.label",
                "default": 33
              }, {
                "type": "select",
                "id": "horizontal_align",
                "label": "t:sections.multi_columns.blocks.column.settings.horizontal_align.label",
                "options": [
                  {
                    "value": "normal",
                    "label": "t:sections.multi_columns.blocks.column.settings.horizontal_align.options.option__0.label"
                  }, {
                    "value": "flex-start",
                    "label": "t:sections.multi_columns.blocks.column.settings.horizontal_align.options.option__1.label"
                  }, {
                    "value": "flex-end",
                    "label": "t:sections.multi_columns.blocks.column.settings.horizontal_align.options.option__2.label"
                  }, {
                    "value": "center",
                    "label": "t:sections.multi_columns.blocks.column.settings.horizontal_align.options.option__3.label"
                  }
                ],
                "default": "normal"
              }, {
                "type": "select",
                "id": "vertical_align",
                "label": "t:sections.multi_columns.blocks.column.settings.vertical_align.label",
                "options": [
                  {
                    "value": "normal",
                    "label": "t:sections.multi_columns.blocks.column.settings.vertical_align.options.option__0.label"
                  }, {
                    "value": "flex-start",
                    "label": "t:sections.multi_columns.blocks.column.settings.vertical_align.options.option__1.label"
                  }, {
                    "value": "flex-end",
                    "label": "t:sections.multi_columns.blocks.column.settings.vertical_align.options.option__2.label"
                  }, {
                    "value": "center",
                    "label": "t:sections.multi_columns.blocks.column.settings.vertical_align.options.option__3.label"
                  }
                ],
                "default": "normal"
              }, {
                "type": "select",
                "id": "text_align",
                "label": "t:sections.multi_columns.blocks.column.settings.text_align.label",
                "options": [
                  {
                    "value": "left",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_align.options.option__0.label"
                  }, {
                    "value": "center",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_align.options.option__1.label"
                  }, {
                    "value": "right",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_align.options.option__2.label"
                  }
                ],
                "default": "left"
              }, {
                "type": "header",
                "content": "t:sections.multi_columns.blocks.column.settings.header__image.content"
              }, {
                "type": "checkbox",
                "id": "image_show",
                "label": "t:sections.multi_columns.blocks.column.settings.image_show.label",
                "default": false,
                "info": "t:sections.multi_columns.blocks.column.settings.image_show.info"
              }, {
                "type": "image_picker",
                "id": "image",
                "label": "t:sections.multi_columns.blocks.column.settings.image.label",
                "info": "t:sections.multi_columns.blocks.column.settings.image.info"
              }, {
                "type": "select",
                "id": "image_aspect_ratio",
                "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.label",
                "options": [
                  {
                    "value": "auto",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__0.label"
                  },
                  {
                    "value": "1\/1",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__1.label"
                  },
                  {
                    "value": "3\/2",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__2.label"
                  },
                  {
                    "value": "4\/3",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__3.label"
                  }, {
                    "value": "5\/4",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__4.label"
                  }, {
                    "value": "2\/3",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__5.label"
                  }, {
                    "value": "3\/4",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__6.label"
                  }, {
                    "value": "4\/5",
                    "label": "t:sections.multi_columns.blocks.column.settings.image_aspect_ratio.options.option__7.label"
                  }
                ],
                "default": "auto"
              }, {
                "type": "checkbox",
                "id": "image_custom_width",
                "label": "t:sections.multi_columns.blocks.column.settings.image_custom_width.label",
                "default": false
              }, {
                "type": "range",
                "id": "image_width",
                "min": 200,
                "max": 1200,
                "step": 10,
                "unit": "px",
                "label": "t:sections.multi_columns.blocks.column.settings.image_width.label",
                "default": 300,
                "info": "t:sections.multi_columns.blocks.column.settings.image_width.info"
              }, {
                "type": "number",
                "id": "image_display_order",
                "label": "t:sections.multi_columns.blocks.column.settings.image_display_order.label",
                "default": 0,
                "info": "t:sections.multi_columns.blocks.column.settings.image_display_order.info"
              }, {
                "type": "header",
                "content": "t:sections.multi_columns.blocks.column.settings.header__text_1.content"
              }, {
                "type": "text",
                "id": "text_1",
                "label": "t:sections.multi_columns.blocks.column.settings.text_1.label",
                "default": "This is simple text 1"
              }, {
                "type": "select",
                "id": "text_1_tag",
                "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.label",
                "options": [
                  {
                    "value": "p",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__0.label"
                  },
                  {
                    "value": "p1",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__1.label"
                  },
                  {
                    "value": "p2",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__2.label"
                  },
                  {
                    "value": "h1",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__3.label"
                  }, {
                    "value": "h2",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__4.label"
                  }, {
                    "value": "h3",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__5.label"
                  }, {
                    "value": "h4",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__6.label"
                  }, {
                    "value": "h5",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__7.label"
                  }, {
                    "value": "h6",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__8.label"
                  }, {
                    "value": "s1",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__9.label"
                  }, {
                    "value": "s2",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__10.label"
                  }, {
                    "value": "s3",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_1_tag.options.option__11.label"
                  }
                ],
                "default": "h3"
              }, {
                "type": "checkbox",
                "id": "text_1_custom_width",
                "label": "t:sections.multi_columns.blocks.column.settings.text_1_custom_width.label",
                "default": false
              }, {
                "type": "range",
                "id": "text_1_width",
                "min": 200,
                "max": 1200,
                "step": 10,
                "unit": "px",
                "label": "t:sections.multi_columns.blocks.column.settings.text_1_width.label",
                "default": 450,
                "info": "t:sections.multi_columns.blocks.column.settings.text_1_width.info"
              }, {
                "type": "number",
                "id": "text_1_display_order",
                "label": "t:sections.multi_columns.blocks.column.settings.text_1_display_order.label",
                "default": 0,
                "info": "t:sections.multi_columns.blocks.column.settings.text_1_display_order.info"
              }, {
                "type": "header",
                "content": "t:sections.multi_columns.blocks.column.settings.header__text_2.content"
              }, {
                "type": "text",
                "id": "text_2",
                "label": "t:sections.multi_columns.blocks.column.settings.text_2.label",
                "default": "This is simple text 2 for multi column section"
              }, {
                "type": "select",
                "id": "text_2_tag",
                "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.label",
                "options": [
                  {
                    "value": "p",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__0.label"
                  },
                  {
                    "value": "p1",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__1.label"
                  },
                  {
                    "value": "p2",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__2.label"
                  },
                  {
                    "value": "h1",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__3.label"
                  }, {
                    "value": "h2",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__4.label"
                  }, {
                    "value": "h3",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__5.label"
                  }, {
                    "value": "h4",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__6.label"
                  }, {
                    "value": "h5",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__7.label"
                  }, {
                    "value": "h6",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__8.label"
                  }, {
                    "value": "s1",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__9.label"
                  }, {
                    "value": "s2",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__10.label"
                  }, {
                    "value": "s3",
                    "label": "t:sections.multi_columns.blocks.column.settings.text_2_tag.options.option__11.label"
                  }
                ],
                "default": "p"
              }, {
                "type": "checkbox",
                "id": "text_2_custom_width",
                "label": "t:sections.multi_columns.blocks.column.settings.text_2_custom_width.label",
                "default": false
              }, {
                "type": "range",
                "id": "text_2_width",
                "min": 200,
                "max": 1200,
                "step": 10,
                "unit": "px",
                "label": "t:sections.multi_columns.blocks.column.settings.text_2_width.label",
                "default": 450,
                "info": "t:sections.multi_columns.blocks.column.settings.text_2_width.info"
              }, {
                "type": "number",
                "id": "text_2_display_order",
                "label": "t:sections.multi_columns.blocks.column.settings.text_2_display_order.label",
                "default": 0,
                "info": "t:sections.multi_columns.blocks.column.settings.text_2_display_order.info"
              }, {
                "type": "header",
                "content": "t:sections.multi_columns.blocks.column.settings.header__button.content"
              }, {
                "type": "text",
                "id": "button_text",
                "label": "t:sections.multi_columns.blocks.column.settings.button_text.label",
                "default": "Button text"
              }, {
                "type": "url",
                "id": "button_url",
                "label": "t:sections.multi_columns.blocks.column.settings.button_url.label"
              }, {
                "type": "select",
                "id": "button_target",
                "label": "t:sections.multi_columns.blocks.column.settings.button_target.label",
                "options": [
                  {
                    "value": "_self",
                    "label": "t:sections.multi_columns.blocks.column.settings.button_target.options.option__0.label"
                  }, {
                    "value": "_blank",
                    "label": "t:sections.multi_columns.blocks.column.settings.button_target.options.option__1.label"
                  }
                ],
                "default": "_self",
                "info": "t:sections.multi_columns.blocks.column.settings.button_target.info"
              }, {
                "type": "select",
                "id": "button_style",
                "label": "t:sections.multi_columns.blocks.column.settings.button_style.label",
                "options": [
                  {
                    "value": "outline",
                    "label": "t:sections.multi_columns.blocks.column.settings.button_style.options.option__0.label"
                  }, {
                    "value": "fill",
                    "label": "t:sections.multi_columns.blocks.column.settings.button_style.options.option__1.label"
                  }, {
                    "value": "link",
                    "label": "t:sections.multi_columns.blocks.column.settings.button_style.options.option__2.label"
                  }
                ],
                "default": "link"
              }, {
                "type": "number",
                "id": "button_display_order",
                "label": "t:sections.multi_columns.blocks.column.settings.button_display_order.label",
                "default": 0,
                "info": "t:sections.multi_columns.blocks.column.settings.button_display_order.info"
              }
            ]
          }
        ],
        "presets":[ 
          {
            "name":"Membership products",  
            "blocks": [
              {
                "type": "column"
              }, {
                "type": "column"
              }, {
                "type": "column"
              }
            ]
          }
        ]
      }
{% endschema %}

