{% style %}
#shopify-section-{{ section.id }} {

  {% if section.settings.form_custom_width %}
    --theme-newsletter-form-width: {{ section.settings.form_width | append: 'px' }};
  {% endif %}
  
  {% if section.settings.background_overlay %}
    --theme-newsletter-overlay-color: {{ section.settings.background_overlay_color }};
    --theme-newsletter-overlay-opacity: {{ section.settings.background_overlay_opacity | append: '%' }};

  {% endif %}

  {% if section.settings.background_mobile_overlay %}
    --theme-newsletter-mobile-overlay-color: {{ section.settings.background_mobile_overlay_color }};
    --theme-newsletter-mobile-overlay-opacity: {{ section.settings.background_mobile_overlay_opacity }};

  {% endif %}


}
{% endstyle %}


{% style %}
  #shopify-section-{{ section.id }} {
    {% if section.settings.height_mobile != 'auto' %}
      --theme-newsletter-custom-height-mobile: {{ section.settings.height_mobile | append: 'px' }};
    {% endif %}

    {% if section.settings.height != 'auto' %}
      --theme-newsletter-custom-height-desktop: {{ section.settings.height | append: 'px' }};
    {% endif %}
  }
{% endstyle %}


{% for block in section.blocks %}
  {% if block.type == 'text' %}

    {% if block.settings.newsletter_text_custom_width %}
      {% style %}
        #shopify-section-{{ section.id }} .block-{{ block.id }}{
          --theme-newsletter-text-width: {{ block.settings.newsletter_text_width | append: 'px' }};
        }

      {% endstyle %}
    {% endif %}

  {% elsif block.type == 'button' %}

    {% style %}
      #shopify-section-{{ section.id }} .block-{{ block.id }}{
        --theme-newsletter-button-width: {{ block.settings.newsletter_button_width }};
      }
    {% endstyle %}
    
  {% endif %}
{% endfor %}



{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}

  {% if section.settings.inset %}
    --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
  {% endif %}
  }
{% endstyle %}

{% if section.settings.separator %}
  {% style %}
  #shopify-section-{{ section.id }} .separator{
    --theme-section-separator-width: {{ section.settings.separator_width | append: '%' }};
    --theme-section-separator-height: {{ section.settings.separator_height | append: 'px' }};

    {% if section.settings.separator_use_custom_color %}
      --theme-section-separator-color: {{ section.settings.separator_custom_color }};
    {% endif %}
  }
  {% endstyle %}
{% endif %}

{% if section.settings.spacing %}
  {% style %}
  #shopify-section-{{ section.id }}{
    
      {% unless section.settings.spacing_placement == '3' %}
--theme-section-spacing-top: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}
{% unless section.settings.spacing_placement == '2' %}
      --theme-section-spacing-bottom: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}

  }
  {% endstyle %}
{% endif %}


<div class="section-newsletter{% liquid
  if section.settings.content_position != blank
    echo ' content-align-' | append: section.settings.content_position
  endif 

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  echo ' ' | append: section.settings.color_scheme
%}">
  <div class="section-newsletter-background">
    <div class="section-newsletter-background__desktop">
      {% if section.settings.background_image != blank %}
        {% render 'section-image-processor', image: section.settings.background_image %}
      {% endif %}
      {% if section.settings.background_overlay %}
        <div class="section-newsletter-background-overlay"></div>
      {% endif %}
    </div>
    <div class="section-newsletter-background__mobile">
      {% if section.settings.background_image_mobile != blank %}
        {% render 'section-image-processor', image: section.settings.background_image_mobile %}
      {% endif %}
      {% if section.settings.background_mobile_overlay %}
        <div class="section-newsletter-background-overlay"></div>
      {% endif %}
    </div>
  </div>
  <div class="section-newsletter-content section-container">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'text' %}
          {% if block.settings.newsletter_text != blank %}
            {% case block.settings.newsletter_text_tag %}
              {% when 's1' or 's2' or 's3' %}
                <h1 class="section-newsletter-text special-heading-{{ block.settings.newsletter_text_tag }} block-{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.newsletter_text }}</h1>
              {% when 'p1' or 'p2' %}
                <p class="section-newsletter-text paragraph-{{ block.settings.newsletter_text_tag }} block-{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.newsletter_text }}</p>
              {% else %}
                <{% echo block.settings.newsletter_text_tag %} class="section-newsletter-text block-{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.newsletter_text }}</{% echo block.settings.newsletter_text_tag %}>
            {% endcase %}
          {% endif %}
        {% when '@app' %}
          {% render block %}
        {% when 'liquid' %}
          <div class="custom-liquid">
              {{ block.settings.custom_liquid }}
          </div>
      {% endcase %}
    {% endfor %}
    {% form 'customer', class: 'newsletter-form' %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <div class="newsletter-form-email email">
          <label class="newsletter-form-email__label" for="NewsletterFormEmail-{{ section.id }}">
              <span class="newsletter-form-email__label-text">{{ 'general.newsletter.email' | t }}</span>
              <span class="newsletter-form-email__label-icon">{% render 'icon-mail' %}</span>
          </label>
          <input id="NewsletterFormEmail-{{ section.id }}" type="email" name="contact[email]" placeholder="{{ 'general.newsletter.placeholders.email' | t }}" />
        </div>
        <button class="newsletter-form-submit submit btn-fill" type="submit">{{ 'general.newsletter.submit' | t }}</button>
        {%- if form.errors -%}
          <span class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
        {%- endif -%}
        {%- if form.posted_successfully? -%}
          <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'general.newsletter.notice.success' | t }}</h3>
        {%- endif -%}
    {% endform %}

  </div>
</div>
{% if section.settings.separator %}
  <div class="section-separator{% liquid 
 if section.settings.separator_fullwidth 
echo ' has-fullwidth'
endif 
 %}"><hr class="separator"></div>
{% endif %}



{% schema %}
{"name":"t:sections.newsletter.name","settings":[{"type":"header","content":"t:sections.newsletter.settings.header__general.content"},{"type":"checkbox","id":"fullwidth","label":"t:sections.newsletter.settings.fullwidth.label","info":"t:sections.newsletter.settings.fullwidth.info","default":true},{"type":"range","id":"width","min":500,"max":2000,"step":20,"unit":"px","label":"t:sections.newsletter.settings.width.label","default":1320,"info":"t:sections.newsletter.settings.width.info"},{"type":"select","id":"height_mobile","label":"t:sections.newsletter.settings.height_mobile.label","options":[{"value":"400","label":"t:sections.newsletter.settings.height_mobile.options.option__0.label"},{"value":"460","label":"t:sections.newsletter.settings.height_mobile.options.option__1.label"},{"value":"520","label":"t:sections.newsletter.settings.height_mobile.options.option__2.label"},{"value":"600","label":"t:sections.newsletter.settings.height_mobile.options.option__3.label"},{"value":"680","label":"t:sections.newsletter.settings.height_mobile.options.option__4.label"},{"value":"780","label":"t:sections.newsletter.settings.height_mobile.options.option__5.label"},{"value":"900","label":"t:sections.newsletter.settings.height_mobile.options.option__6.label"},{"value":"auto","label":"t:sections.newsletter.settings.height_mobile.options.option__7.label"}],"default":"600"},{"type":"select","id":"height","label":"t:sections.newsletter.settings.height.label","options":[{"value":"400","label":"t:sections.newsletter.settings.height.options.option__0.label"},{"value":"460","label":"t:sections.newsletter.settings.height.options.option__1.label"},{"value":"520","label":"t:sections.newsletter.settings.height.options.option__2.label"},{"value":"600","label":"t:sections.newsletter.settings.height.options.option__3.label"},{"value":"680","label":"t:sections.newsletter.settings.height.options.option__4.label"},{"value":"780","label":"t:sections.newsletter.settings.height.options.option__5.label"},{"value":"900","label":"t:sections.newsletter.settings.height.options.option__6.label"},{"value":"auto","label":"t:sections.newsletter.settings.height.options.option__7.label"}],"default":"600"},{"type":"select","id":"color_scheme","label":"t:sections.newsletter.settings.color_scheme.label","options":[{"value":"scheme-main","label":"t:sections.newsletter.settings.color_scheme.options.option__0.label"},{"value":"scheme-additional","label":"t:sections.newsletter.settings.color_scheme.options.option__1.label"},{"value":"scheme-accent","label":"t:sections.newsletter.settings.color_scheme.options.option__2.label"},{"value":"scheme-complementary","label":"t:sections.newsletter.settings.color_scheme.options.option__3.label"}],"default":"scheme-main"},{"type":"checkbox","id":"inset","label":"t:sections.newsletter.settings.inset.label","info":"t:sections.newsletter.settings.inset.info","default":true},{"type":"select","id":"inset_choice","label":"t:sections.newsletter.settings.inset_choice.label","options":[{"value":"level-1","label":"t:sections.newsletter.settings.inset_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.newsletter.settings.inset_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.newsletter.settings.inset_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.newsletter.settings.inset_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.newsletter.settings.inset_choice.options.option__4.label"}],"default":"level-3"},{"type":"header","content":"t:sections.newsletter.settings.header__background.content"},{"type":"image_picker","id":"background_image_mobile","label":"t:sections.newsletter.settings.background_image_mobile.label","info":"t:sections.newsletter.settings.background_image_mobile.info"},{"type":"image_picker","id":"background_image","label":"t:sections.newsletter.settings.background_image.label","info":"t:sections.newsletter.settings.background_image.info"},{"type":"checkbox","id":"background_overlay","label":"t:sections.newsletter.settings.background_overlay.label","default":false},{"type":"color_background","id":"background_overlay_color","label":"t:sections.newsletter.settings.background_overlay_color.label","default":"#1F2D1F","info":"t:sections.newsletter.settings.background_overlay_color.info"},{"type":"range","id":"background_overlay_opacity","min":1,"max":100,"step":1,"unit":"%","label":"t:sections.newsletter.settings.background_overlay_opacity.label","default":100,"info":"t:sections.newsletter.settings.background_overlay_opacity.info"},{"type":"header","content":"t:sections.newsletter.settings.header__background_mobile.content"},{"type":"checkbox","id":"background_mobile_overlay","label":"t:sections.newsletter.settings.background_mobile_overlay.label","default":false},{"type":"color_background","id":"background_mobile_overlay_color","label":"t:sections.newsletter.settings.background_mobile_overlay_color.label","default":"#1F2D1F","info":"t:sections.newsletter.settings.background_mobile_overlay_color.info"},{"type":"range","id":"background_mobile_overlay_opacity","min":1,"max":100,"step":1,"unit":"%","label":"t:sections.newsletter.settings.background_mobile_overlay_opacity.label","default":100,"info":"t:sections.newsletter.settings.background_mobile_overlay_opacity.info"},{"type":"header","content":"t:sections.newsletter.settings.header__content.content"},{"type":"select","id":"content_position","label":"t:sections.newsletter.settings.content_position.label","options":[{"value":"left","label":"t:sections.newsletter.settings.content_position.options.option__0.label"},{"value":"center","label":"t:sections.newsletter.settings.content_position.options.option__1.label"},{"value":"right","label":"t:sections.newsletter.settings.content_position.options.option__2.label"}],"default":"center"},{"type":"header","content":"t:sections.newsletter.settings.header__form.content"},{"type":"checkbox","id":"form_custom_width","label":"t:sections.newsletter.settings.form_custom_width.label","default":true},{"type":"range","id":"form_width","min":100,"max":1000,"step":10,"unit":"px","label":"t:sections.newsletter.settings.form_width.label","default":320,"info":"t:sections.newsletter.settings.form_width.info"},{"type":"number","id":"form_order","label":"t:sections.newsletter.settings.form_order.label","default":1,"info":"t:sections.newsletter.settings.form_order.info"},{"type":"header","content":"t:sections.common.settings.header__separator.content"},{"type":"checkbox","id":"separator","label":"t:sections.common.settings.separator.label","info":"t:sections.common.settings.separator.info","default":false},{"type":"range","id":"separator_width","min":1,"max":100,"step":1,"unit":"%","label":"t:sections.common.settings.separator_width.label","default":100,"info":"t:sections.common.settings.separator_width.info"},{"type":"checkbox","id":"separator_fullwidth","label":"t:sections.common.settings.separator_fullwidth.label","default":false},{"type":"range","id":"separator_height","min":1,"max":10,"step":1,"unit":"px","label":"t:sections.common.settings.separator_height.label","default":1,"info":"t:sections.common.settings.separator_height.info"},{"type":"checkbox","id":"separator_use_custom_color","label":"t:sections.common.settings.separator_use_custom_color.label","default":false},{"type":"color","id":"separator_custom_color","label":"t:sections.common.settings.separator_custom_color.label","default":"#DAD3C4"},{"type":"header","content":"t:sections.common.settings.header__spacing.content"},{"type":"checkbox","id":"spacing","label":"t:sections.common.settings.spacing.label","info":"t:sections.common.settings.spacing.info","default":true},{"type":"select","id":"spacing_choice","label":"t:sections.common.settings.spacing_choice.label","options":[{"value":"level-1","label":"t:sections.common.settings.spacing_choice.options.option__0.label"},{"value":"level-2","label":"t:sections.common.settings.spacing_choice.options.option__1.label"},{"value":"level-3","label":"t:sections.common.settings.spacing_choice.options.option__2.label"},{"value":"level-4","label":"t:sections.common.settings.spacing_choice.options.option__3.label"},{"value":"level-5","label":"t:sections.common.settings.spacing_choice.options.option__4.label"}],"default":"level-3"},{"type":"select","id":"spacing_placement","label":"t:sections.common.settings.spacing_placement.label","options":[{"value":"1","label":"t:sections.common.settings.spacing_placement.options.option__0.label"},{"value":"2","label":"t:sections.common.settings.spacing_placement.options.option__1.label"},{"value":"3","label":"t:sections.common.settings.spacing_placement.options.option__2.label"}],"default":"1","info":"t:sections.common.settings.spacing_placement.info"}],"blocks":[{"name":"t:sections.newsletter.blocks.text.name","type":"text","settings":[{"type":"text","id":"newsletter_text","label":"t:sections.newsletter.blocks.text.settings.newsletter_text.label","default":"This is Newsletter heading"},{"type":"select","id":"newsletter_text_tag","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.label","options":[{"value":"p","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__0.label"},{"value":"p1","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__1.label"},{"value":"p2","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__2.label"},{"value":"h1","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__3.label"},{"value":"h2","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__4.label"},{"value":"h3","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__5.label"},{"value":"h4","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__6.label"},{"value":"h5","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__7.label"},{"value":"h6","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__8.label"},{"value":"s1","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__9.label"},{"value":"s2","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__10.label"},{"value":"s3","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_tag.options.option__11.label"}],"default":"s2"},{"type":"checkbox","id":"newsletter_text_custom_width","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_custom_width.label","default":false},{"type":"range","id":"newsletter_text_width","min":100,"max":1000,"step":10,"unit":"px","label":"t:sections.newsletter.blocks.text.settings.newsletter_text_width.label","default":520,"info":"t:sections.newsletter.blocks.text.settings.newsletter_text_width.info"}]},{"type":"@app"},{"name":"t:sections.newsletter.blocks.liquid.name","type":"liquid","settings":[{"type":"liquid","id":"custom_liquid","label":"t:sections.newsletter.blocks.liquid.settings.custom_liquid.label","info":"t:sections.newsletter.blocks.liquid.settings.custom_liquid.info"}]}],"presets":[{"name":"Newsletter","blocks":[{"type":"text"},{"type":"text","settings":{"newsletter_text":"This is simple description for newsletter","newsletter_text_tag":"p1"}}]}]}
{% endschema %}

