

{% style %}
  #shopify-section-{{ section.id }} {

  {% if section.settings.inset %}
    --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
  {% endif %}
  }
{% endstyle %}

{% if section.settings.separator %}
  {% style %}
  #shopify-section-{{ section.id }} .separator{
    --theme-section-separator-width: {{ section.settings.separator_width | append: '%' }};
    --theme-section-separator-height: {{ section.settings.separator_height | append: 'px' }};

    {% if section.settings.separator_use_custom_color %}
      --theme-section-separator-color: {{ section.settings.separator_custom_color }};
    {% endif %}
  }
  {% endstyle %}
{% endif %}

{% if section.settings.spacing %}
  {% style %}
  #shopify-section-{{ section.id }}{
    
      {% unless section.settings.spacing_placement == '3' %}
--theme-section-spacing-top: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}
{% unless section.settings.spacing_placement == '2' %}
      --theme-section-spacing-bottom: var(--theme-spacing-{{ section.settings.spacing_choice }});
{% endunless %}

  }
  {% endstyle %}
{% endif %}



{% style %}
  #shopify-section-{{ section.id }} {
    {% if section.settings.splitter_image != blank %}
      --theme-section-scrolling-text-splitter-width: {{ section.settings.splitter_custom_width | append: 'px' }};
    {% endif %}
  }
{% endstyle %}


<div class="section-scrolling-text{% liquid 
    
  if section.settings.inset
    echo ' has-section-padding'
  endif

    echo ' ' | append: section.settings.color_scheme
%}">
  <div class="section-scrolling-text-container section-container">
    <div style="animation: scroll {{ section.settings.scroll_speed }}s linear infinite;" class="scrolling-text{% liquid 
        if section.settings.splitter_use_custom_width
            echo ' has-custom-splitter-width'
        endif
    %}">
        {% if section.blocks != blank %}
            {% for i in (1..4) %}
                {% if i > 1 %}
                    <ul class="scrolling-text-list" aria-hidden="true">
                {% else %}
                    <ul class="scrolling-text-list">
                {% endif %}
                    {% for block in section.blocks %}
                        {% if block.type == 'text' %}
                            {% if block.settings.text != blank %}
                                <li class="scrolling-text-list-item">
                                    {% case block.settings.text_tag %}
                                        {% when 's1' or 's2' or 's3' %}
                                            <div class="scrolling-text-list-item__text special-heading-{{ block.settings.text_tag }}">{{ block.settings.text }}</div>
                                        {% when 'h1' or 'h2' or 'h3' or 'h4' or 'h5' or 'h6' %}
                                            <div class="scrolling-text-list-item__text heading-{{ block.settings.text_tag }}">{{ block.settings.text }}</div>
                                        {% when 'p1' or 'p2' %}
                                            <div class="scrolling-text-list-item__text paragraph-{{ block.settings.text_tag }}">{{ block.settings.text }}</div>
                                        {% else %}
                                            <{{ block.settings.text_tag }} class="scrolling-text-list-item__text">{{ block.settings.text }}</{{ block.settings.text_tag }}>
                                    {% endcase %}
                                    {% if section.settings.splitter_image != blank %}
                                        <span>
                                            {% render 'section-image-processor', image: section.settings.splitter_image %}
                                        </span>
                                    {% endif %}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    </div>
  </div>
</div>
{% if section.settings.separator %}
  <div class="section-separator{% liquid 
 if section.settings.separator_fullwidth 
echo ' has-fullwidth'
endif 
 %}"><hr class="separator"></div>
{% endif %}


{% schema %}
{
  "name": "t:sections.scrolling_text.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.scrolling_text.settings.header__general.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.scrolling_text.settings.color_scheme.label",
      "options": [
        {
          "value": "scheme-main",
          "label": "t:sections.scrolling_text.settings.color_scheme.options.option__0.label"
        },
        {
          "value": "scheme-additional",
          "label": "t:sections.scrolling_text.settings.color_scheme.options.option__1.label"
        },
        {
          "value": "scheme-accent",
          "label": "t:sections.scrolling_text.settings.color_scheme.options.option__2.label"
        },
        {
          "value": "scheme-complementary",
          "label": "t:sections.scrolling_text.settings.color_scheme.options.option__3.label"
        }
      ],
      "default": "scheme-main"
    },
    {
      "type": "checkbox",
      "id": "inset",
      "label": "t:sections.scrolling_text.settings.inset.label",
      "info": "t:sections.scrolling_text.settings.inset.info",
      "default": true
    },
    {
      "type": "select",
      "id": "inset_choice",
      "label": "t:sections.scrolling_text.settings.inset_choice.label",
      "options": [
        {
          "value": "level-1",
          "label": "t:sections.scrolling_text.settings.inset_choice.options.option__0.label"
        },
        {
          "value": "level-2",
          "label": "t:sections.scrolling_text.settings.inset_choice.options.option__1.label"
        },
        {
          "value": "level-3",
          "label": "t:sections.scrolling_text.settings.inset_choice.options.option__2.label"
        },
        {
          "value": "level-4",
          "label": "t:sections.scrolling_text.settings.inset_choice.options.option__3.label"
        },
        {
          "value": "level-5",
          "label": "t:sections.scrolling_text.settings.inset_choice.options.option__4.label"
        }
      ],
      "default": "level-3"
    },
    {
      "type": "header",
      "content": "t:sections.scrolling_text.settings.header__splitter.content"
    },
    {
      "type": "image_picker",
      "id": "splitter_image",
      "label": "t:sections.scrolling_text.settings.splitter_image.label",
      "info": "t:sections.scrolling_text.settings.splitter_image.info"
    },
    {
      "type": "checkbox",
      "id": "splitter_use_custom_width",
      "label": "t:sections.scrolling_text.settings.splitter_use_custom_width.label",
      "default": true
    },
    {
      "type": "range",
      "id": "splitter_custom_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.scrolling_text.settings.splitter_custom_width.label",
      "default": 16,
      "info": "t:sections.scrolling_text.settings.splitter_custom_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.common.settings.header__separator.content"
    },
    {
      "type": "checkbox",
      "id": "separator",
      "label": "t:sections.common.settings.separator.label",
      "info": "t:sections.common.settings.separator.info",
      "default": false
    },
    {
      "type": "range",
      "id": "separator_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.common.settings.separator_width.label",
      "default": 100,
      "info": "t:sections.common.settings.separator_width.info"
    },
    {
      "type": "checkbox",
      "id": "separator_fullwidth",
      "label": "t:sections.common.settings.separator_fullwidth.label",
      "default": false
    },
    {
      "type": "range",
      "id": "separator_height",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "t:sections.common.settings.separator_height.label",
      "default": 1,
      "info": "t:sections.common.settings.separator_height.info"
    },
    {
      "type": "checkbox",
      "id": "separator_use_custom_color",
      "label": "t:sections.common.settings.separator_use_custom_color.label",
      "default": false
    },
    {
      "type": "color",
      "id": "separator_custom_color",
      "label": "t:sections.common.settings.separator_custom_color.label",
      "default": "#DAD3C4"
    },
    {
      "type": "header",
      "content": "t:sections.common.settings.header__spacing.content"
    },
    {
      "type": "checkbox",
      "id": "spacing",
      "label": "t:sections.common.settings.spacing.label",
      "info": "t:sections.common.settings.spacing.info",
      "default": true
    },
    {
      "type": "select",
      "id": "spacing_choice",
      "label": "t:sections.common.settings.spacing_choice.label",
      "options": [
        {
          "value": "level-1",
          "label": "t:sections.common.settings.spacing_choice.options.option__0.label"
        },
        {
          "value": "level-2",
          "label": "t:sections.common.settings.spacing_choice.options.option__1.label"
        },
        {
          "value": "level-3",
          "label": "t:sections.common.settings.spacing_choice.options.option__2.label"
        },
        {
          "value": "level-4",
          "label": "t:sections.common.settings.spacing_choice.options.option__3.label"
        },
        {
          "value": "level-5",
          "label": "t:sections.common.settings.spacing_choice.options.option__4.label"
        }
      ],
      "default": "level-3"
    },
    {
      "type": "select",
      "id": "spacing_placement",
      "label": "t:sections.common.settings.spacing_placement.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.common.settings.spacing_placement.options.option__0.label"
        },
        {
          "value": "2",
          "label": "t:sections.common.settings.spacing_placement.options.option__1.label"
        },
        {
          "value": "3",
          "label": "t:sections.common.settings.spacing_placement.options.option__2.label"
        }
      ],
      "default": "1",
      "info": "t:sections.common.settings.spacing_placement.info"
    },
    {
      "type": "range",
      "id": "scroll_speed",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "s",
      "label": "Scrolling Speed",
      "default": 30,
      "info": "Adjust the scrolling speed (in seconds)"
    }
  ],
  "blocks": [
    {
      "name": "t:sections.scrolling_text.blocks.text.name",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.scrolling_text.blocks.text.settings.text.label",
          "default": "This is scrolling text"
        },
        {
          "type": "select",
          "id": "text_tag",
          "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.label",
          "options": [
            {
              "value": "p",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__0.label"
            },
            {
              "value": "p1",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__1.label"
            },
            {
              "value": "p2",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__5.label"
            },
            {
              "value": "h4",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__6.label"
            },
            {
              "value": "h5",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__7.label"
            },
            {
              "value": "h6",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__8.label"
            },
            {
              "value": "s1",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__9.label"
            },
            {
              "value": "s2",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__10.label"
            },
            {
              "value": "s3",
              "label": "t:sections.scrolling_text.blocks.text.settings.text_tag.options.option__11.label"
            }
          ],
          "default": "s1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling text",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
