{% style %}
  #shopify-section-{{ section.id }} {

    {% if section.settings.gap %}
      --theme-image-with-text-gap: var(--theme-gap-{{ section.settings.gap_choice }});
    {% else %}
      --theme-image-with-text-gap: 0;
    {% endif %}

    {% if section.settings.inset %}
      --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
    {% endif %}

  }
{% endstyle %}


{% for block in section.blocks %}
  {% if block.type == 'video' %}

    {% style %}
      #shopify-section-{{ section.id }}.block-{{ block.id }} {

        {% if block.settings.images_gap %}
          --theme-image-with-text-images-gap: var(--theme-gap-{{ block.settings.images_gap_choice }});
        {% else %}
          --theme-image-width-text-images-gap: 0;
        {% endif %}
        --theme-image-with-text-images-width: {{ section.settings.images_content_width_split | append: '%' }};
        --theme-image-with-text-width-split: {{ block.settings.images_width_split | append: '%' }};

        --theme-image-with-text-image-1-aspect-ratio: {{ block.settings.image_1_aspect_ratio }};
        --theme-image-with-text-image-2-aspect-ratio: {{ block.settings.image_2_aspect_ratio }};
      }

    {% endstyle %}

  {% endif %}

  {% if block.type == 'content' %}

    {% style %}
      #shopify-section-{{ section.id }}.block-{{ block.id }} {
        --theme-image-with-text-content-width: calc(100% - {{ section.settings.images_content_width_split | append: '%' }});

        {% if block.settings.text_1_custom_width %}
          --theme-image-with-text-text-1-width: {{ block.settings.text_1_width | append: 'px' }};
        {% endif %}

        {% if block.settings.text_2_custom_width %}
          --theme-image-with-text-text-2-width: {{ block.settings.text_2_width | append: 'px' }};
        {% endif %}

        {% if block.settings.text_3_custom_width %}
          --theme-image-with-text-text-3-width: {{ block.settings.text_3_width | append: 'px' }};
        {% endif %}

      }

    {% endstyle %}

  {% endif %}
{% endfor %}


{% style %}
  #shopify-section-{{ section.id }} {
    {% unless section.settings.fullwidth %}
      --theme-section-custom-width: {{ section.settings.width | append: 'px' }};
    {% endunless %}

    {% if section.settings.inset %}
      --theme-section-content-padding: var(--theme-section-content-padding-{{ section.settings.inset_choice }});
    {% endif %}
  }
{% endstyle %}

{% if section.settings.separator %}
  {% style %}
    #shopify-section-{{ section.id }} .separator {
      --theme-section-separator-width: {{ section.settings.separator_width | append: '%' }};
      --theme-section-separator-height: {{ section.settings.separator_height | append: 'px' }};

      {% if section.settings.separator_use_custom_color %}
        --theme-section-separator-color: {{ section.settings.separator_custom_color }};
      {% endif %}
    }
  {% endstyle %}
{% endif %}

{% if section.settings.spacing %}
  {% style %}
    #shopify-section-{{ section.id }} {

      {% unless section.settings.spacing_placement == '3' %}
        --theme-section-spacing-top: var(--theme-spacing-{{ section.settings.spacing_choice }});
      {% endunless %}
      {% unless section.settings.spacing_placement == '2' %}
        --theme-section-spacing-bottom: var(--theme-spacing-{{ section.settings.spacing_choice }});
      {% endunless %}

    }
  {% endstyle %}
{% endif %}


<div class="section-image-with-text{% liquid 
  if section.settings.stack_on_mobile
    echo ' has-stack-on-mobile' 
  endif

  if section.settings.fullwidth
    echo ' has-fullwidth'
  else
    echo ' has-custom-width'
  endif

  if section.settings.inset
    echo ' has-section-padding'
  endif

  echo ' ' | append: section.settings.color_scheme
  
%}">
  <div class="section-image-with-text-container section-container">
    {% if section.blocks != blank %}
      {% for block in section.blocks %}
        {% if block.type == 'content' %}
          <div class="section-image-with-text-content block-{{ block.id }}" {{ block.shopify_attributes }}>
            {% if block.settings.text_1 != blank %}
              {% case block.settings.text_1_tag %}
                {% when 's1' or 's2' or 's3' %}
                  <h1 class="section-image-with-text-content__text_1 special-heading-{{ block.settings.text_1_tag }}">{{ block.settings.text_1 }}</h1>
                {% when 'p1' or 'p2' %}
                  <p class="section-image-with-text-content__text_1 paragraph-{{ block.settings.text_1_tag }}">{{ block.settings.text_1 }}</p>
                {% else %}
                  <{{ block.settings.text_1_tag }} class="section-image-with-text-content__text_1">
                    {{ block.settings.text_1 }}</{{ block.settings.text_1_tag }}>
                {% endcase %}
              {% endif %}

              {% if block.settings.text_2 != blank %}
                {% case block.settings.text_2_tag %}
                  {% when 's1' or 's2' or 's3' %}
                    <h1 class="section-image-with-text-content__text_2 special-heading-{{ block.settings.text_2_tag }}">{{ block.settings.text_2 }}</h1>
                  {% when 'p1' or 'p2' %}
                    <p class="section-image-with-text-content__text_2 paragraph-{{ block.settings.text_2_tag }}">{{ block.settings.text_2 }}</p>
                  {% else %}
                    <{{ block.settings.text_2_tag }} class="section-image-with-text-content__text_2">
                      {{ block.settings.text_2 }}</{{ block.settings.text_2_tag }}>
                  {% endcase %}
                {% endif %}

                {% if block.settings.text_3 != blank %}
                  {% case block.settings.text_3_tag %}
                    {% when 's1' or 's2' or 's3' %}
                      <h1 class="section-image-with-text-content__text_3 special-heading-{{ block.settings.text_3_tag }}">{{ block.settings.text_3 }}</h1>
                    {% when 'p1' or 'p2' %}
                      <p class="section-image-with-text-content__text_3 paragraph-{{ block.settings.text_3_tag }}">{{ block.settings.text_3 }}</p>
                    {% else %}
                      <{{ block.settings.text_3_tag }} class="section-image-with-text-content__text_3">
                        {{ block.settings.text_3 }}</{{ block.settings.text_3_tag }}>
                    {% endcase %}
                  {% endif %}
                  {% if block.settings.button_text != blank %}
                    <a
                      href="{{ block.settings.button_url | default: '#' }}"
                      class="section-image-with-text-button{% liquid 
                echo ' btn-' | append: block.settings.button_style

            %}"
                      target="{{ block.settings.button_target }}">{{ block.settings.button_text }}</a>
                  {% endif %}
                </div>
              {% elsif block.type == 'images' %}
                <div class="section-image-with-text-images{% liquid 
          echo ' block-' | append: block.id

          if block.settings.images_stack_on_mobile
            echo ' has-stack-on-mobile' 
          endif
          
        %}" {{ block.shopify_attributes }}>
                  {% if block.settings.image_1 != blank %}
                    <div class="section-image-with-text-images__image-1">
                      {% render 'section-image-processor'
                        , image: block.settings.image_1 %}
                    </div>
                  {% endif %}
                  {% if block.settings.image_2 != blank %}
                    <div class="section-image-with-text-images__image-2">
                      {% render 'section-image-processor'
                        , image: block.settings.image_2 %}
                    </div>
                  {% endif %}
                  {% liquid
                    if block.settings.image_1 == blank and block.settings.image_2 == blank
                      echo 'lifestyle-1' | placeholder_svg_tag: 'placeholder placeholder-image-with-text'
                    endif
                  %}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% if section.settings.separator %}
        <div class="section-separator{% liquid 
 if section.settings.separator_fullwidth 
echo ' has-fullwidth'
endif 
 %}">
<hr class="separator"></div>
      {% endif %}


      {% schema %}
        {
          "name": "Video with text",
          "settings": [
            {
              "type": "header",
              "content": "t:sections.image_with_text.settings.header__general.content"
            },
            {
              "type": "checkbox",
              "id": "fullwidth",
              "label": "t:sections.image_with_text.settings.fullwidth.label",
              "info": "t:sections.image_with_text.settings.fullwidth.info",
              "default": true
            },
            {
              "type": "range",
              "id": "width",
              "min": 500,
              "max": 2000,
              "step": 20,
              "unit": "px",
              "label": "t:sections.image_with_text.settings.width.label",
              "default": 1320,
              "info": "t:sections.image_with_text.settings.width.info"
            },
            {
              "type": "select",
              "id": "color_scheme",
              "label": "t:sections.image_with_text.settings.color_scheme.label",
              "options": [
                {
                  "value": "scheme-main",
                  "label": "t:sections.image_with_text.settings.color_scheme.options.option__0.label"
                }, {
                  "value": "scheme-additional",
                  "label": "t:sections.image_with_text.settings.color_scheme.options.option__1.label"
                }, {
                  "value": "scheme-accent",
                  "label": "t:sections.image_with_text.settings.color_scheme.options.option__2.label"
                }, {
                  "value": "scheme-complementary",
                  "label": "t:sections.image_with_text.settings.color_scheme.options.option__3.label"
                }
              ],
              "default": "scheme-main"
            }, {
              "type": "checkbox",
              "id": "inset",
              "label": "t:sections.image_with_text.settings.inset.label",
              "info": "t:sections.image_with_text.settings.inset.info",
              "default": true
            }, {
              "type": "select",
              "id": "inset_choice",
              "label": "t:sections.image_with_text.settings.inset_choice.label",
              "options": [
                {
                  "value": "level-1",
                  "label": "t:sections.image_with_text.settings.inset_choice.options.option__0.label"
                },
                {
                  "value": "level-2",
                  "label": "t:sections.image_with_text.settings.inset_choice.options.option__1.label"
                },
                {
                  "value": "level-3",
                  "label": "t:sections.image_with_text.settings.inset_choice.options.option__2.label"
                },
                {
                  "value": "level-4",
                  "label": "t:sections.image_with_text.settings.inset_choice.options.option__3.label"
                }, {
                  "value": "level-5",
                  "label": "t:sections.image_with_text.settings.inset_choice.options.option__4.label"
                }
              ],
              "default": "level-3"
            }, {
              "type": "checkbox",
              "id": "gap",
              "label": "t:sections.image_with_text.settings.gap.label",
              "info": "t:sections.image_with_text.settings.gap.info",
              "default": true
            }, {
              "type": "select",
              "id": "gap_choice",
              "label": "t:sections.image_with_text.settings.gap_choice.label",
              "options": [
                {
                  "value": "level-1",
                  "label": "t:sections.image_with_text.settings.gap_choice.options.option__0.label"
                },
                {
                  "value": "level-2",
                  "label": "t:sections.image_with_text.settings.gap_choice.options.option__1.label"
                },
                {
                  "value": "level-3",
                  "label": "t:sections.image_with_text.settings.gap_choice.options.option__2.label"
                },
                {
                  "value": "level-4",
                  "label": "t:sections.image_with_text.settings.gap_choice.options.option__3.label"
                }, {
                  "value": "level-5",
                  "label": "t:sections.image_with_text.settings.gap_choice.options.option__4.label"
                }, {
                  "value": "level-6",
                  "label": "t:sections.image_with_text.settings.gap_choice.options.option__5.label"
                }, {
                  "value": "level-7",
                  "label": "t:sections.image_with_text.settings.gap_choice.options.option__6.label"
                }
              ],
              "default": "level-4",
              "info": "t:sections.image_with_text.settings.gap_choice.info"
            }, {
              "type": "checkbox",
              "id": "stack_on_mobile",
              "label": "t:sections.image_with_text.settings.stack_on_mobile.label",
              "default": true
            }, {
              "type": "header",
              "content": "t:sections.image_with_text.settings.header__image_with_text.content"
            }, {
              "type": "range",
              "id": "images_content_width_split",
              "min": 1,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "t:sections.image_with_text.settings.images_content_width_split.label",
              "default": 67
            }, {
              "type": "header",
              "content": "t:sections.common.settings.header__separator.content"
            }, {
              "type": "checkbox",
              "id": "separator",
              "label": "t:sections.common.settings.separator.label",
              "info": "t:sections.common.settings.separator.info",
              "default": false
            }, {
              "type": "range",
              "id": "separator_width",
              "min": 1,
              "max": 100,
              "step": 1,
              "unit": "%",
              "label": "t:sections.common.settings.separator_width.label",
              "default": 100,
              "info": "t:sections.common.settings.separator_width.info"
            }, {
              "type": "checkbox",
              "id": "separator_fullwidth",
              "label": "t:sections.common.settings.separator_fullwidth.label",
              "default": false
            }, {
              "type": "range",
              "id": "separator_height",
              "min": 1,
              "max": 10,
              "step": 1,
              "unit": "px",
              "label": "t:sections.common.settings.separator_height.label",
              "default": 1,
              "info": "t:sections.common.settings.separator_height.info"
            }, {
              "type": "checkbox",
              "id": "separator_use_custom_color",
              "label": "t:sections.common.settings.separator_use_custom_color.label",
              "default": false
            }, {
              "type": "color",
              "id": "separator_custom_color",
              "label": "t:sections.common.settings.separator_custom_color.label",
              "default": "#DAD3C4"
            }, {
              "type": "header",
              "content": "t:sections.common.settings.header__spacing.content"
            }, {
              "type": "checkbox",
              "id": "spacing",
              "label": "t:sections.common.settings.spacing.label",
              "info": "t:sections.common.settings.spacing.info",
              "default": true
            }, {
              "type": "select",
              "id": "spacing_choice",
              "label": "t:sections.common.settings.spacing_choice.label",
              "options": [
                {
                  "value": "level-1",
                  "label": "t:sections.common.settings.spacing_choice.options.option__0.label"
                },
                {
                  "value": "level-2",
                  "label": "t:sections.common.settings.spacing_choice.options.option__1.label"
                },
                {
                  "value": "level-3",
                  "label": "t:sections.common.settings.spacing_choice.options.option__2.label"
                },
                {
                  "value": "level-4",
                  "label": "t:sections.common.settings.spacing_choice.options.option__3.label"
                }, {
                  "value": "level-5",
                  "label": "t:sections.common.settings.spacing_choice.options.option__4.label"
                }
              ],
              "default": "level-3"
            }, {
              "type": "select",
              "id": "spacing_placement",
              "label": "t:sections.common.settings.spacing_placement.label",
              "options": [
                {
                  "value": "1",
                  "label": "t:sections.common.settings.spacing_placement.options.option__0.label"
                }, {
                  "value": "2",
                  "label": "t:sections.common.settings.spacing_placement.options.option__1.label"
                }, {
                  "value": "3",
                  "label": "t:sections.common.settings.spacing_placement.options.option__2.label"
                }
              ],
              "default": "1",
              "info": "t:sections.common.settings.spacing_placement.info"
            }
          ],
          "blocks": [
            {
              "name": "t:sections.image_with_text.blocks.images.name",
              "type": "images",
              "limit": 1,
              "settings": [
                {
                  "type": "header",
                  "content": "t:sections.image_with_text.blocks.images.settings.header__images.content"
                },
                {
                  "type": "checkbox",
                  "id": "images_gap",
                  "label": "t:sections.image_with_text.blocks.images.settings.images_gap.label",
                  "info": "t:sections.image_with_text.blocks.images.settings.images_gap.info",
                  "default": true
                },
                {
                  "type": "select",
                  "id": "images_gap_choice",
                  "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.label",
                  "options": [
                    {
                      "value": "level-1",
                      "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.options.option__0.label"
                    },
                    {
                      "value": "level-2",
                      "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.options.option__1.label"
                    },
                    {
                      "value": "level-3",
                      "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.options.option__2.label"
                    },
                    {
                      "value": "level-4",
                      "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.options.option__3.label"
                    }, {
                      "value": "level-5",
                      "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.options.option__4.label"
                    }, {
                      "value": "level-6",
                      "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.options.option__5.label"
                    }, {
                      "value": "level-7",
                      "label": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.options.option__6.label"
                    }
                  ],
                  "default": "level-4",
                  "info": "t:sections.image_with_text.blocks.images.settings.images_gap_choice.info"
                },
                {
                  "type": "range",
                  "id": "images_width_split",
                  "min": 1,
                  "max": 100,
                  "step": 1,
                  "unit": "%",
                  "label": "t:sections.image_with_text.blocks.images.settings.images_width_split.label",
                  "info": "t:sections.image_with_text.blocks.images.settings.images_width_split.info",
                  "default": 50
                }, {
                  "type": "checkbox",
                  "id": "images_stack_on_mobile",
                  "label": "t:sections.image_with_text.blocks.images.settings.images_stack_on_mobile.label",
                  "default": true
                }, {
                  "type": "header",
                  "content": "t:sections.image_with_text.blocks.images.settings.header__image_1.content"
                }, {
                  "type": "image_picker",
                  "id": "image_1",
                  "label": "t:sections.image_with_text.blocks.images.settings.image_1.label"
                }, {
                  "type": "select",
                  "id": "image_1_aspect_ratio",
                  "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.label",
                  "options": [
                    {
                      "value": "auto",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__0.label"
                    },
                    {
                      "value": "1\/1",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__1.label"
                    },
                    {
                      "value": "3\/2",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__2.label"
                    },
                    {
                      "value": "4\/3",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__3.label"
                    }, {
                      "value": "5\/4",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__4.label"
                    }, {
                      "value": "2\/3",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__5.label"
                    }, {
                      "value": "3\/4",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__6.label"
                    }, {
                      "value": "4\/5",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_1_aspect_ratio.options.option__7.label"
                    }
                  ],
                  "default": "auto"
                }, {
                  "type": "header",
                  "content": "t:sections.image_with_text.blocks.images.settings.header__image_2.content"
                }, {
                  "type": "image_picker",
                  "id": "image_2",
                  "label": "t:sections.image_with_text.blocks.images.settings.image_2.label",
                  "info": "t:sections.image_with_text.blocks.images.settings.image_2.info"
                }, {
                  "type": "select",
                  "id": "image_2_aspect_ratio",
                  "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.label",
                  "options": [
                    {
                      "value": "auto",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__0.label"
                    },
                    {
                      "value": "1\/1",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__1.label"
                    },
                    {
                      "value": "3\/2",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__2.label"
                    },
                    {
                      "value": "4\/3",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__3.label"
                    }, {
                      "value": "5\/4",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__4.label"
                    }, {
                      "value": "2\/3",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__5.label"
                    }, {
                      "value": "3\/4",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__6.label"
                    }, {
                      "value": "4\/5",
                      "label": "t:sections.image_with_text.blocks.images.settings.image_2_aspect_ratio.options.option__7.label"
                    }
                  ],
                  "default": "auto"
                }
              ]
            }, {
              "name": "t:sections.image_with_text.blocks.content.name",
              "type": "content",
              "limit": 1,
              "settings": [
                {
                  "type": "header",
                  "content": "t:sections.image_with_text.blocks.content.settings.header__text_1.content"
                },
                {
                  "type": "text",
                  "id": "text_1",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_1.label",
                  "default": "This is simple text 1"
                },
                {
                  "type": "select",
                  "id": "text_1_tag",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.label",
                  "options": [
                    {
                      "value": "p",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__0.label"
                    },
                    {
                      "value": "p1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__1.label"
                    },
                    {
                      "value": "p2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__2.label"
                    },
                    {
                      "value": "h1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__3.label"
                    }, {
                      "value": "h2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__4.label"
                    }, {
                      "value": "h3",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__5.label"
                    }, {
                      "value": "h4",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__6.label"
                    }, {
                      "value": "h5",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__7.label"
                    }, {
                      "value": "h6",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__8.label"
                    }, {
                      "value": "s1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__9.label"
                    }, {
                      "value": "s2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__10.label"
                    }, {
                      "value": "s3",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_1_tag.options.option__11.label"
                    }
                  ],
                  "default": "s2"
                },
                {
                  "type": "checkbox",
                  "id": "text_1_custom_width",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_1_custom_width.label",
                  "default": false
                }, {
                  "type": "range",
                  "id": "text_1_width",
                  "min": 200,
                  "max": 1200,
                  "step": 10,
                  "unit": "px",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_1_width.label",
                  "default": 450,
                  "info": "t:sections.image_with_text.blocks.content.settings.text_1_width.info"
                }, {
                  "type": "header",
                  "content": "t:sections.image_with_text.blocks.content.settings.header__text_2.content"
                }, {
                  "type": "richtext",
                  "id": "text_2",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_2.label",
                  "default": "<p>This is text 2 for Image with text section. </p>"
                }, {
                  "type": "select",
                  "id": "text_2_tag",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.label",
                  "options": [
                    {
                      "value": "p",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__0.label"
                    },
                    {
                      "value": "p1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__1.label"
                    },
                    {
                      "value": "p2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__2.label"
                    },
                    {
                      "value": "h1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__3.label"
                    }, {
                      "value": "h2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__4.label"
                    }, {
                      "value": "h3",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__5.label"
                    }, {
                      "value": "h4",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__6.label"
                    }, {
                      "value": "h5",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__7.label"
                    }, {
                      "value": "h6",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__8.label"
                    }, {
                      "value": "s1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__9.label"
                    }, {
                      "value": "s2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__10.label"
                    }, {
                      "value": "s3",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_2_tag.options.option__11.label"
                    }
                  ],
                  "default": "p"
                }, {
                  "type": "checkbox",
                  "id": "text_2_custom_width",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_2_custom_width.label",
                  "default": false
                }, {
                  "type": "range",
                  "id": "text_2_width",
                  "min": 200,
                  "max": 1200,
                  "step": 10,
                  "unit": "px",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_2_width.label",
                  "default": 450,
                  "info": "t:sections.image_with_text.blocks.content.settings.text_2_width.info"
                }, {
                  "type": "header",
                  "content": "t:sections.image_with_text.blocks.content.settings.header__text_3.content"
                }, {
                  "type": "richtext",
                  "id": "text_3",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_3.label"
                }, {
                  "type": "select",
                  "id": "text_3_tag",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.label",
                  "options": [
                    {
                      "value": "p",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__0.label"
                    },
                    {
                      "value": "p1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__1.label"
                    },
                    {
                      "value": "p2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__2.label"
                    },
                    {
                      "value": "h1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__3.label"
                    }, {
                      "value": "h2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__4.label"
                    }, {
                      "value": "h3",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__5.label"
                    }, {
                      "value": "h4",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__6.label"
                    }, {
                      "value": "h5",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__7.label"
                    }, {
                      "value": "h6",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__8.label"
                    }, {
                      "value": "s1",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__9.label"
                    }, {
                      "value": "s2",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__10.label"
                    }, {
                      "value": "s3",
                      "label": "t:sections.image_with_text.blocks.content.settings.text_3_tag.options.option__11.label"
                    }
                  ],
                  "default": "p"
                }, {
                  "type": "checkbox",
                  "id": "text_3_custom_width",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_3_custom_width.label",
                  "default": false
                }, {
                  "type": "range",
                  "id": "text_3_width",
                  "min": 200,
                  "max": 1200,
                  "step": 10,
                  "unit": "px",
                  "label": "t:sections.image_with_text.blocks.content.settings.text_3_width.label",
                  "default": 450,
                  "info": "t:sections.image_with_text.blocks.content.settings.text_3_width.info"
                }, {
                  "type": "header",
                  "content": "t:sections.image_with_text.blocks.content.settings.header__button.content"
                }, {
                  "type": "text",
                  "id": "button_text",
                  "label": "t:sections.image_with_text.blocks.content.settings.button_text.label",
                  "default": "Button text"
                }, {
                  "type": "url",
                  "id": "button_url",
                  "label": "t:sections.image_with_text.blocks.content.settings.button_url.label"
                }, {
                  "type": "select",
                  "id": "button_target",
                  "label": "t:sections.image_with_text.blocks.content.settings.button_target.label",
                  "options": [
                    {
                      "value": "_self",
                      "label": "t:sections.image_with_text.blocks.content.settings.button_target.options.option__0.label"
                    }, {
                      "value": "_blank",
                      "label": "t:sections.image_with_text.blocks.content.settings.button_target.options.option__1.label"
                    }
                  ],
                  "default": "_self",
                  "info": "t:sections.image_with_text.blocks.content.settings.button_target.info"
                }, {
                  "type": "select",
                  "id": "button_style",
                  "label": "t:sections.image_with_text.blocks.content.settings.button_style.label",
                  "options": [
                    {
                      "value": "outline",
                      "label": "t:sections.image_with_text.blocks.content.settings.button_style.options.option__0.label"
                    }, {
                      "value": "fill",
                      "label": "t:sections.image_with_text.blocks.content.settings.button_style.options.option__1.label"
                    }, {
                      "value": "link",
                      "label": "t:sections.image_with_text.blocks.content.settings.button_style.options.option__2.label"
                    }
                  ],
                  "default": "outline"
                }
              ]
            }
          ],
          "presets": [
            {
              "name": "Image with text",
              "blocks": [
                {
                  "type": "images"
                }, {
                  "type": "content"
                }
              ]
            }
          ]
        }
      {% endschema %}
